.section-tenth {
	padding-bottom: 40px;

	@include breakpoint(medium) {
		padding-bottom: 80px;
	}

	.section-title {
		padding-top: 60px;
	}
}

.testimonials-wrapper {
	margin-left: -15px;
	margin-right: -15px;

	.testimonial-item {
		.testimonial-image,
		.testimonial-content {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.more-testimonials {
	margin-bottom: 40px;

	@include breakpoint(medium) {
		margin-bottom: 80px;
	}

	.button {
		font-size: 18px;
		color: #999999;
		border-color: #999999;
		display: table;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		border-width: 2px;
	}
}

.testimonial-item {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;

	@include breakpoint(medium) {
		margin-bottom: 70px;
	}

	.testimonial-image {
		width: 100%;
		margin-bottom: 30px;

		@include breakpoint(medium) {
			width: 40%;
		}
	}

	.testimonial-content {
		width: 100%;

		@include breakpoint(medium) {
			width: 60%;
		}

		.title {
			margin-bottom: 25px;

			h3 {
				font-size: 30px;
				font-family: $font-proxima-bold;
				margin: 0;
			}

			span {
				font-size: 17px;
				line-height: 30px;
				font-family: $font-proxima-semibold;
			}
		}

		.description {
			margin-bottom: 25px;

			blockquote {
				font-size: 17px;
				line-height: 24px;
				margin-bottom: 15px;
				padding: 0;
				border: none;
			}

			p {
				font-size: 16px;
				line-height: 22px;
				margin-bottom: 15px;
			}
		}
	}
}