.section-sixth {
  padding-top: 55px;

  @include breakpoint(medium) {
    padding-top: 110px;
  }
}

.popup-link {
	font-size: 18px;
	color: $dark-gray;
	display: flex;
	align-items: center;

	svg {
		margin-right: 13px;

		path {
			fill: $red;
		}
	}
}