.slider-wrapper {
	position: relative;

	.slide-item {
		outline: none !important;
	}

	.slick-next,
	.slick-prev {
		width: 32px;
		height: 58px;

		@media (max-width: 1279px) {
			top: -80px;
			transform: none;
		}

		&:before {
			display: none;
		}
	}

	.slick-next {
		right: calc(50% - 64px);

		@include breakpoint(xlarge) {
			right: -100px;
		}
	}

	.slick-prev {
		left: calc(50% - 64px);

		@include breakpoint(xlarge) {
			left: -100px;
		}
	}
}

.double-slider {
	@include breakpoint(medium) {
		margin-left: -15px;
		margin-right: -15px;

		.slide-item {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.top-slider {
	margin-top: 100px;

	.slick-next,
	.slick-prev {
		svg {
			path {
				fill: $white;
			}
		}

		@include breakpoint(xlarge) {
			top: 100px;
		}
	}

	.slide-image {
		margin-bottom: 20px;

		img {
			width: 100%;
		}
	}

	.slide-title {
		font-family: $font-proxima-bold;
		margin-bottom: 15px;

		h3 {
			color: $white;
			margin-bottom: 10px;
		}

		span {
			color: $red;
			font-size: 15px;
		}
	}

	.slide-description {

		.hidden-description {
			display: none;
		}

		p {
			font-size: 16px;
			line-height: 24px;
			color: $white;
		}

		a {
			margin-top: 20px;
			color: $white;
			text-decoration: underline;

			.open {
				display: none;
			}

			&.active {
				.close {
					display: none;
				}
				.open {
					display: block;
				}
			}

			&:hover {
				text-decoration: none;
			}
		}
	}
}

.video-slider {
	margin-top: 50px;
	margin-bottom: 80px;

	@include breakpoint(xlarge) {
		margin-top: 40px;
	}

	img {
		width: 100%;
	}

	.video-slide-description {
		background: $white;
		padding: 20px;
		flex-grow: 1;

		h4 {
			color: $red;
			font-size: 23px;
			line-height: 24px;
			font-family: $font-proxima-semibold;
			margin-bottom: 20px;
		}

		p {
			font-size: 15px;
			line-height: 22px;
		}
	}

	.slick-track,
	.slick-list,
	.slide-item {
		display: flex;
	}

	.slide-item {
		flex-direction: column;
	}
}

.testimonials-slider {
	margin-top: 100px;

	@include breakpoint(xlarge) {
		margin-top: 80px;
		margin-bottom: 250px;
	}

	.slide-item {
		display: flex;
		flex-direction: column;

		@include breakpoint(large) {
			flex-direction: row;
		}
	}

	.slide-image {
		width: 100%;
		padding-top: 100%;
		background-position: center center;

		@include breakpoint(large) {
			padding-top: 0;
			width: 41.6666667%;
		}
	}

	.slide-content {
		@include breakpoint(large) {
			width: 58.3333333%;
		}
	}

	.slide-title {
		margin-bottom: 30px;

		h3 {
			font-size: 30px;
			line-height: 30px;
			font-family: $font-proxima-bold;
		}

		span {
			font-size: 17px;
			font-family: $font-proxima-semibold;
			line-height: 30px;
		}
	}

	.slide-description {
		blockquote {
			font-size: 21px;
			line-height: 24px;
			border: none;
			font-family: $font-proxima-light;
			padding: 0;
			margin-bottom: 30px;
		}

		p {
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 20px;
		}
	}

	.slide-content {
		// flex-grow: 1;
		background: $white;
		padding: 30px;
	}
}

.video-slider,
.testimonials-slider {
	.slick-next,
	.slick-prev {
		svg {
			path {
				fill: $red;
			}
		}
	}
}