section.scrollspy#coach.section-eighth.dark-bg
    .row.align-center
        .small-12.columns
            .section-title.text-center
                h2 Команда тренеров
                .description
                  p.
                    Программа «Предназначение» была разработана Павлом Кочкиным, человеком, объединившим в себе гарвардское образование и опыт обучения в Тибете. Он глубоко проник в тему и лично воспитал команду тренеров, каждый из которых является дипломированным психологом и прошел жесткий отбор.
        .small-12.medium-6.large-4.columns.coach-wrapper
            article.coach-item
                .coach-image
                    img(src="../images/coach1.jpg", alt="coach")
                .coach-title
                    h3 Екатерина Казакова
                    span Тренер проекта «ПРЕДНАЗНАЧЕНИЕ»
                .coach-content
                    p Екатерина Казакова — партнер проекта “Предназначение”, психолог, ведущая рубрики #Психология на канале periscope “Предназначение.ТВ”.
                    p Образование — ЧГУ, ЧГПИ, АНХ при Правительстве Москвы, МПЛ12.
                    p Одна из руководителей проекта “Предназначение”. Благодаря Екатерине проект активно развивается, объединяя умных, активных, интересных участников из разных стран.
                    p Счастливая жена и мать.
                a(href="#") Регалии
        .small-12.medium-6.large-4.columns.coach-wrapper
            article.coach-item
                .coach-image
                    img(src="../images/coach2.jpg", alt="coach")
                .coach-title
                    h3 Павел Кочкин
                    span Автор проекта «ПРЕДНАЗНАЧЕНИЕ»
                .coach-content
                    p Павел Кочкин — основатель проекта “Предназначение”.
                    p Помог найти себя более 32 тыс. человек из 28 стран. Чтобы обрести свое предназначение и выстроить полноценную жизнь, Павел потратил 10 лет и объехал пол планеты.
                    p Образование — МИФИ, психологический факультет МГУ, Executive MBA GUU, Гарвардская школа бизнеса (программы LNV и FIB).
                    p К 30 годам полностью состоялся — счастливая семья, масса друзей, финансовая реализация и любимое дело. За плечами — множество успешных бизнес-проектов.
                a(href="#") Регалии
        .small-12.medium-6.large-4.columns.coach-wrapper
            article.coach-item
                .coach-image
                    img(src="../images/coach3.jpg", alt="coach")
                .coach-title
                    h3 Ольга Щербакова
                    span Тренер проекта «ПРЕДНАЗНАЧЕНИЕ»
                .coach-content
                    p Ольга Щербакова — коуч, трансформационный тренер.
                    p Управляющая Клубом Предназначение, координатор курсов “Предназначение интенсив” (онлайн) и 21-дневного коучинга “Привычка воплощать мечту”. МосГУ, РАГС при Президенте РФ, Эриксоновский университет.
                    p Член Ассоциации Тренеров и Организаторов Трансформационных Тренингов.
                    p Благодаря Ольге более 1000 участников проекта “Предназначение” уже показали блестящие результаты, повысив свою эффективность и достигнув поставленных целей.
        .small-12.columns
            .section-title.text-center
                h2 Мы вас #[span поддержим!]
    .row.coach-bottom-wrapper
        .small-12.large-3.columns
            img(src="../images/coach4.jpg", alt="coach")
        .small-12.large-9.columns
            .section-content
                p “Моя основная задача, как менеджера по счастью клиентов, сделать так, чтобы Вы получили максимум пользы и удовлетворения от курса. Независимо от того где вы проходите обучение, онлайн или вживую в Москве, вы всегда получаете помощь и поддержку. В кабинете ученика есть чат с вашим куратором, а вживую в зале есть помощники, которые следят чтобы ваше обучение проходило наиболее продуктивно и комфортно. Знайте, что Вы можете связаться с нами, получить консультацию и помощь по любому волнующему Вас вопросу позвонив по телефону 88003330286 (пн - пт с 8 до 18 по МСК) или написав на почту support@predestination.ru“
            .sign
                img(src="../images/sign.jpg", alt="sign")
            .title
                h3 Виктория Грозовская
                span Менеджер по счастью клиентов
