section.scrollspy#coach.section-eighth.dark-bg
    .row.align-center
        .small-12.columns
            .section-title.text-center
                h2 Команда тренеров
                .description
                  p.
                    Программа «Предназначение» была разработана Павлом Кочкиным, человеком, объединившим в себе гарвардское образование и опыт обучения в Тибете. Он глубоко проник в тему и лично воспитал команду тренеров, каждый из которых является дипломированным психологом и прошел жесткий отбор.
        .small-12.medium-6.large-3.columns.coach-wrapper
            article.coach-item
                .coach-image
                    img(src="../images/coach1.jpg", alt="coach")
                .coach-title
                    h3 Екатерина Казакова
                    span Тренер проекта «ПРЕДНАЗНАЧЕНИЕ»
                .coach-content
                    p Екатерина Казакова — партнер проекта “Предназначение”, психолог, ведущая рубрики #Психология на канале periscope “Предназначение.ТВ”.
                    p Образование — ЧГУ, ЧГПИ, АНХ при Правительстве Москвы, МПЛ12.
                    .hidden-content
                        p Одна из руководителей проекта “Предназначение”. Благодаря Екатерине проект активно развивается, объединяя умных, активных, интересных участников из разных стран.
                        p Счастливая жена и мать.
                .show-more
                    span Показать
                    span.active Скрыть
                a(href='javascript:void(0)' data-open="reg01") Регалии
                #reg01.reveal(data-reveal)
                    button.close-button.icon-cancel(data-close type="button")
                    .reveal-wrapper
                        .lazy-images.text-center
                            img(src='#' data-src='../images/regals/1_2.jpg' alt='pic')
                            img(src='#' data-src='../images/regals/2_2.jpg' alt='pic')
                            img(src='#' data-src='../images/regals/3_2.jpg' alt='pic')
                            img(src='#' data-src='../images/regals/4_2.jpg' alt='pic')
                            img(src='#' data-src='../images/regals/5_2.jpg' alt='pic')

        .small-12.medium-6.large-3.columns.coach-wrapper
            article.coach-item
                .coach-image
                    img(src="../images/coach2.jpg", alt="coach")
                .coach-title
                    h3 Павел Кочкин
                    span Автор проекта «ПРЕДНАЗНАЧЕНИЕ»
                .coach-content
                    p Павел Кочкин — основатель проекта “Предназначение”.
                    p Помог найти себя более 32 тыс. человек из 28 стран. Чтобы обрести свое предназначение и выстроить полноценную жизнь, Павел потратил 10 лет и объехал пол планеты.
                    .hidden-content
                        p Образование — МИФИ, психологический факультет МГУ, Executive MBA GUU, Гарвардская школа бизнеса (программы LNV и FIB).
                        p К 30 годам полностью состоялся — счастливая семья, масса друзей, финансовая реализация и любимое дело. За плечами — множество успешных бизнес-проектов.
                .show-more
                    span Показать
                    span.active Скрыть
                a(href='javascript:void(0)' data-open="reg02") Регалии
                    #reg02.reveal(data-reveal)
                        button.close-button.icon-cancel(data-close type="button")
                        .reveal-wrapper
                            .lazy-images.text-center
                                img(src='#' data-src='../images/regals/1.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/2.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/3.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/4.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/5.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/6.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/7.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/8.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/9.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/10.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/11.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/12.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/13.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/14.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/15.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/16.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/17.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/18.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/19.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/20.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/21.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/22.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/23.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/24.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/25.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/26.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/27.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/28.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/29.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/30.jpg' alt='pic')
                                img(src='#' data-src='../images/regals/31.jpg' alt='pic')
        .small-12.medium-6.large-3.columns.coach-wrapper
            article.coach-item
                .coach-image
                    img(src="../images/coach3.jpg", alt="coach")
                .coach-title
                    h3 Ольга Щербакова
                    span Тренер проекта «ПРЕДНАЗНАЧЕНИЕ»
                .coach-content
                    p Ольга Щербакова — коуч, трансформационный тренер.
                    p Управляющая Клубом Предназначение, координатор курсов “Предназначение интенсив” (онлайн) и 21-дневного коучинга “Привычка воплощать мечту”. МосГУ, РАГС при Президенте РФ, Эриксоновский университет.
                    .hidden-content
                        p Член Ассоциации Тренеров и Организаторов Трансформационных Тренингов.
                        p Благодаря Ольге более 1000 участников проекта “Предназначение” уже показали блестящие результаты, повысив свою эффективность и достигнув поставленных целей.
                .show-more
                    span Показать
                    span.active Скрыть
        .small-12.medium-6.large-3.columns.coach-wrapper
            article.coach-item
                .coach-image
                    img(src="../images/coach3.jpg", alt="coach")
                .coach-title
                    h3 Ольга Щербакова
                    span Тренер проекта «ПРЕДНАЗНАЧЕНИЕ»
                .coach-content
                    p Ольга Щербакова — коуч, трансформационный тренер.
                    p Управляющая Клубом Предназначение, координатор курсов “Предназначение интенсив” (онлайн) и 21-дневного коучинга “Привычка воплощать мечту”. МосГУ, РАГС при Президенте РФ, Эриксоновский университет.
                    .hidden-content
                        p Член Ассоциации Тренеров и Организаторов Трансформационных Тренингов.
                        p Благодаря Ольге более 1000 участников проекта “Предназначение” уже показали блестящие результаты, повысив свою эффективность и достигнув поставленных целей.
                .show-more
                    span Показать
                    span.active Скрыть

        .small-12.columns
            .section-title.text-center
                h2 Мы вас #[span поддержим!]
    .row.coach-bottom-wrapper
        .small-12.large-3.columns
            img(src="../images/coach4.jpg", alt="coach")
        .small-12.large-9.columns
            .section-content
                p “Моя основная задача, как менеджера по счастью клиентов, сделать так, чтобы Вы получили максимум пользы и удовлетворения от курса. Независимо от того где вы проходите обучение, онлайн или вживую в Москве, вы всегда получаете помощь и поддержку. В кабинете ученика есть чат с вашим куратором, а вживую в зале есть помощники, которые следят чтобы ваше обучение проходило наиболее продуктивно и комфортно. Знайте, что Вы можете связаться с нами, получить консультацию и помощь по любому волнующему Вас вопросу позвонив по телефону 88003330286 (пн - пт с 8 до 18 по МСК) или написав на почту support@predestination.ru“
            .sign
                img(src="../images/sign.jpg", alt="sign")
            .title
                h3 Виктория Грозовская
                span Менеджер по счастью клиентов
