section.scrollspy#about.section-fives.dark-bg
  .row.align-center
    .small-12.xlarge-10.columns
      .section-title.text-center
        h2 О программе
        .description
          p.
            Программа «Предназначение 2.0» - это не «мотивационный курс», а детально проработанная система. Программа разделена на 3 ступени для более глубокой и полной проработки всех аспектов предназначения. В видео Павел Кочкин (автор) рассказывает о 3-х ступенях программы
    .small-12.columns
      .video-wrapper
        a(href='javascript:void(0)' data-open="video-popup0").popup-overlay.play-button
          img(src="../images/video-bg1.jpg", alt="video")
        #video-popup0.reveal(data-reveal)
          button.close-button.icon-cancel(data-close type="button")
          .reveal-wrapper
              .video-wrapper
                  <iframe data-src='https://www.youtube.com/embed/nFUNxGPGyyY?ecver=2' src="" width="640" height="360" frameborder="0" allowfullscreen></iframe>
    .small-12.xlarge-6.columns
      .section-title.text-center
        h2 О нас говорят
        .description
          p.
            Нашу деятельность освещают в крупнейших СМИ. 
            Вот некоторые из программ о нас.
    .small-12.columns
      .slider-wrapper.video-slider
        button.slick-prev.prev-btn: include ../../images/svg-icons/ic-left.svg
        button.slick-next.next-btn: include ../../images/svg-icons/ic-right.svg
        .slider.double-slider
          .slide-item
            a(href='javascript:void(0)' data-open="video-popup01").popup-overlay.play-button
              img(src="../images/video-bg2.jpg", alt="video")
            #video-popup01.reveal(data-reveal)
              button.close-button.icon-cancel(data-close type="button")
              .reveal-wrapper
                  .video-wrapper
                      <iframe data-src='https://www.youtube.com/embed/nFUNxGPGyyY?ecver=2' src="" width="640" height="360" frameborder="0" allowfullscreen></iframe>

            .video-slide-description
              h4 Tedx. Как найти своё предназначение
              p Выступление на Tedx Павла Кочкина. «Я здесь для того, чтобы ответить на вопрос «Как?» — как найти свое любимое дело? Почему Павел занимается раскрытием потенциала и несколько упражнений в реальном времени.
          .slide-item
            a(href='javascript:void(0)' data-open="video-popup02").popup-overlay.play-button
              img(src="../images/video-bg3.jpg", alt="video")
            #video-popup02.reveal(data-reveal)
              button.close-button.icon-cancel(data-close type="button")
              .reveal-wrapper
                  .video-wrapper
                      <iframe data-src='https://www.youtube.com/embed/nFUNxGPGyyY?ecver=2' src="" width="640" height="360" frameborder="0" allowfullscreen></iframe>
            .video-slide-description
              h4 Цикл лекций для студентов в МГУ
              p Как перестать откладывать дела на потом — способы борьбы с прокрастинацией. Лекция Павла Кочкина для студентов в МГУ.
          .slide-item
            a(href='javascript:void(0)' data-open="video-popup03").popup-overlay.play-button
              img(src="../images/video-bg2.jpg", alt="video")
            #video-popup03.reveal(data-reveal)
              button.close-button.icon-cancel(data-close type="button")
              .reveal-wrapper
                  .video-wrapper
                      <iframe data-src='https://www.youtube.com/embed/nFUNxGPGyyY?ecver=2' src="" width="640" height="360" frameborder="0" allowfullscreen></iframe>
            .video-slide-description
              h4 Цикл лекций для студентов в МГУ
              p Как перестать откладывать дела на потом — способы борьбы с прокрастинацией. Лекция Павла Кочкина для студентов в МГУ.

      .partner-list
        .partner-item
          img(src='../images/logo1.jpg' alt='partner')
        .partner-item
          img(src='../images/logo2.png' alt='partner')
        .partner-item
          img(src='../images/logo3.png' alt='partner')
        .partner-item
          img(src='../images/logo4.png' alt='partner')
        .partner-item
          img(src='../images/logo5.png' alt='partner')
        .partner-item
          img(src='../images/logo6.png' alt='partner')
        .partner-item
          img(src='../images/logo7.png' alt='partner')
        .partner-item
          img(src='../images/logo8.png' alt='partner')
        .partner-item
          img(src='../images/logo9.png' alt='partner')
        .partner-item
          img(src='../images/logo10.png' alt='partner')
        .partner-item
          img(src='../images/logo11.png' alt='partner')
        .partner-item
          img(src='../images/logo12.png' alt='partner')
        .partner-item
          img(src='../images/logo13.png' alt='partner')
        .partner-item
          img(src='../images/logo14.png' alt='partner')
        .partner-item
          img(src='../images/logo15.png' alt='partner')
        .partner-item
          img(src='../images/logo16.png' alt='partner')