section.scrollspy#destination.section-fourth.has-background(style='background-image: url(../images/bg-fourth.jpg)')
  .skew-section.bottom.bottom-dark.top.left-top.full-height
    .row
      .small-12.large-8.columns
        article.offset-section.dark
          .offet-section_top
            p Представляем обучающую программу
          .section-title
            h2 #[span предназначение 2.0]
          .section-content
            p.
              Программа «Предназначение 2.0» уже 10 лет помогает людям найти дело жизни. Чтобы оставаться в топе по педагогике мы опираемся на лучшие научно-образовательные разработки Стенфорда, Гарварда, МГУ и тысячелетний опыт восточных традиций. Мы создали для Вас безотказный механизм, который помогает 10 из 10 студентам понять, в чем их главная задача и стать более осознанными!

            .statistics
              .stat-item
                span 189
                p ТРЕНИНГОВ ПРОВЕДЕНО
              .stat-item
                span 6916
                p УЧЕНИКОВ ПРОШЛИ ОБУЧЕНИЕ
              .stat-item
                span 108
                p УНИКАЛЬНЫХ ПРАКТИК И УПРАЖНЕНИЙ
          a(href='#').button.bold Участвовать в программе