section.scrollspy#about.section-fives.dark-bg
  .row.align-center
    .small-12.xlarge-10.columns
      .section-title.text-center
        h2 О программе
        .description
          p.
            Программа «Предназначение 2.0» - это не «мотивационный курс», а детально проработанная система. Программа разделена на 3 ступени для более глубокой и полной проработки всех аспектов предназначения. В видео Павел Кочкин (автор) рассказывает о 3-х ступенях программы
    .small-12.columns
      .video-wrapper
        a(href='javascript:void(0)' data-open="video-popup0").popup-overlay.play-button
          img(src="../images/video-bg1.jpg", alt="video")
        #video-popup0.reveal(data-reveal)
          button.close-button.icon-cancel(data-close type="button")
          .reveal-wrapper
              .video-wrapper
                  <iframe data-src='https://www.youtube.com/embed/nFUNxGPGyyY?ecver=2' src="" width="640" height="360" allowfullscreen></iframe>
    .small-12.xlarge-6.columns
      .section-title.text-center
        h2 О нас говорят
        .description
          p.
            Нашу деятельность освещают в крупнейших СМИ. 
            Вот некоторые из программ о нас.
    .small-12.columns
      .slider-wrapper.video-slider
        button.slick-prev.prev-btn: include ../../images/svg-icons/ic-left.svg
        button.slick-next.next-btn: include ../../images/svg-icons/ic-right.svg
        .slider.lazy.double-slider
          .slide-item
            a(href='javascript:void(0)' data-open="video-popup01").popup-overlay.play-button
              img(src="#", data-lazy="../images/video-bg2.jpg" alt="video")
            #video-popup01.reveal(data-reveal)
              button.close-button.icon-cancel(data-close type="button")
              .reveal-wrapper
                  .video-wrapper
                      <iframe data-src='https://www.youtube.com/embed/HK_iy995QXs?rel=0&amp;controls=0&amp;showinfo=0?ecver=2' src="" width="640" height="360" allowfullscreen></iframe>

            .video-slide-description
              h4 TEDx. Как найти своё предназначение
              p Выступление на Tedx Павла Кочкина. «Я здесь для того, чтобы ответить на вопрос «Как?» — как найти свое любимое дело? Почему Павел занимается раскрытием потенциала и несколько упражнений в реальном времени.
          .slide-item
            a(href='javascript:void(0)' data-open="video-popup02").popup-overlay.play-button
              img(src="#", data-lazy="../images/video-bg3.jpg" alt="video")
            #video-popup02.reveal(data-reveal)
              button.close-button.icon-cancel(data-close type="button")
              .reveal-wrapper
                  .video-wrapper
                    <iframe data-src='https://www.youtube.com/embed/xzh9F0F1kK4?rel=0&amp;controls=0&amp;showinfo=0?ecver=2' src="" width="640" height="360" allowfullscreen></iframe>
            .video-slide-description
              h4 Цикл лекций для студентов в МГУ
              p Как перестать откладывать дела на потом — способы борьбы с прокрастинацией. Лекция Павла Кочкина для студентов в МГУ.
          .slide-item
            a(href='javascript:void(0)' data-open="video-popup03").popup-overlay.play-button
              img(src="#", data-lazy="../images/video-bg2.jpg" alt="video")
            #video-popup03.reveal(data-reveal)
              button.close-button.icon-cancel(data-close type="button")
              .reveal-wrapper
                  .video-wrapper
                    <iframe data-src='https://www.youtube.com/embed/5plspKHbT8Q?rel=0&amp;controls=0&amp;showinfo=0?ecver=2' src="" width="640" height="360" allowfullscreen></iframe>
            .video-slide-description
              h4 Павел Кочкин на телеканале МИР-24
              p Как найти работу в кризис? Как быть, если вас уволили? Ответы от эксперта в студии программы “В фокусе”.
          .slide-item
            a(href='javascript:void(0)' data-open="video-popup04").popup-overlay.play-button
              img(src="#", data-lazy="../images/video-bg2.jpg" alt="video")
            #video-popup04.reveal(data-reveal)
              button.close-button.icon-cancel(data-close type="button")
              .reveal-wrapper
                  .video-wrapper
                    <iframe data-src='https://www.youtube.com/embed/zbM8T5sHWVI?rel=0&amp;controls=0&amp;showinfo=0?ecver=2' src="" width="640" height="360" allowfullscreen></iframe>
            .video-slide-description
              h4 ТЕЛЕКАНАЛ LIVENEWS. ПАВЕЛ КОЧКИН
              p В мире 2325 долларовых миллиардеров. Более половины из них “сделали себя сами”. У трети из них нет высшего образования. Почему люди стали смелее? С каких низов можно подняться до уровня миллиардера? Павел на комментирует причины, следствия и отвечает на вопросы…
          .slide-item
            a(href='javascript:void(0)' data-open="video-popup05").popup-overlay.play-button
              img(src="#", data-lazy="../images/video-bg2.jpg" alt="video")
            #video-popup05.reveal(data-reveal)
              button.close-button.icon-cancel(data-close type="button")
              .reveal-wrapper
                  .video-wrapper
                    <iframe data-src='https://www.youtube.com/embed/Oe4tugZ1OBc?rel=0&amp;controls=0&amp;showinfo=0?ecver=2' src="" width="640" height="360" allowfullscreen></iframe>
            .video-slide-description
              h4 HR-TV. ПАВЕЛ КОЧКИН
              p Как добиться успеха. Как найти свое Предназначение и определить свой следующий шаг? Как перестать сомневаться и обрести четкий вектор своей жизни?
          .slide-item
            a(href='javascript:void(0)' data-open="video-popup06").popup-overlay.play-button
              img(src="#", data-lazy="../images/video-bg2.jpg" alt="video")
            #video-popup06.reveal(data-reveal)
              button.close-button.icon-cancel(data-close type="button")
              .reveal-wrapper
                  .video-wrapper
                    <iframe data-src='https://www.youtube.com/embed/oiCbkhERV5s?rel=0&amp;controls=0&amp;showinfo=0?ecver=2' src="" width="640" height="360" allowfullscreen></iframe>
            .video-slide-description
              h4 ФИНАМ ФМ — ПАВЕЛ КОЧКИН
              p Павел в гостях. Стратегический HR-консалтинг. В эфире были подробно разобрано следующее: – Низкая продуктивность и профессиональное выгорание, вызванное отсутствием смысла работы, отсутствия развития и направления движения. – Потухший взгляд, нежелание работать, постоянная усталость. – Стадии перехода от состояния выгорания до…
          .slide-item
            a(href='javascript:void(0)' data-open="video-popup07").popup-overlay.play-button
              img(src="#", data-lazy="../images/video-bg2.jpg" alt="video")
            #video-popup07.reveal(data-reveal)
              button.close-button.icon-cancel(data-close type="button")
              .reveal-wrapper
                  .video-wrapper
                    <iframe data-src='https://www.youtube.com/embed/tsMyA2alGe0?rel=0&amp;controls=0&amp;showinfo=0?ecver=2' src="" width="640" height="360" allowfullscreen></iframe>
            .video-slide-description
              h4 ФИЛЬМ «ПРЕДНАЗНАЧЕНИЕ»
              p Короткометражный фильм на Стрим-ТВ о Предназначении. Для тех, кто ищет. Для тех, кто на распутье и сомневается, каков его следующий шаг в жизни. В фильме представлены специальные техники, благодаря которым вы сможете прояснить свой жизненный вектор. Во время просмотра у…

      .partner-list
        .partner-item
          img(src='../images/logo1.jpg' alt='partner')
        .partner-item
          img(src='../images/logo2.png' alt='partner')
        .partner-item
          img(src='../images/logo3.png' alt='partner')
        .partner-item
          img(src='../images/logo4.png' alt='partner')
        .partner-item
          img(src='../images/logo5.png' alt='partner')
        .partner-item
          img(src='../images/logo6.png' alt='partner')
        .partner-item
          img(src='../images/logo7.png' alt='partner')
        .partner-item
          img(src='../images/logo8.png' alt='partner')
        .partner-item
          img(src='../images/logo9.png' alt='partner')
        .partner-item
          img(src='../images/logo10.png' alt='partner')
        .partner-item
          img(src='../images/logo11.png' alt='partner')
        .partner-item
          img(src='../images/logo12.png' alt='partner')
        .partner-item
          img(src='../images/logo13.png' alt='partner')
        .partner-item
          img(src='../images/logo14.png' alt='partner')
        .partner-item
          img(src='../images/logo15.png' alt='partner')
        .partner-item
          img(src='../images/logo16.png' alt='partner')