section.first-section
	.full-height.has-background(style='background-image: url(../images/bg-first.jpg)')
		.row
			.small-24.columns
				article.offset-section
					.offset-section_top
						p 1 марта 2017
						p Онлайн + Живые встречи
					h1.
						Наполни свою
						жизнь смыслом
						и наслаждайся
						каждым днем!
					p.
						«Предназначение 2.0» - программа
						изменившая тысячи жизней вокруг Вас!
					.offset-section_bottom
						a(href="#").button.transparent.bold Участвовать
