section.scrollspy#rates.section-ninth
  .skew-section.bottom.left-bottom.bottom-dark.full-height
    .row.align-center
        .small-12.columns
            .section-title.v2.text-center
                h2 Тарифы