section.scrollspy#steps.section-seventh
  .row
    .small-12.columns
      .section-title
        h2 Как проходит обучение?
        .description
          p Обучение проходит в режиме blended-learning

  .row.expanded.expand-images
    .b-image
      img(src="../images/img2.jpg", alt="pic")
    .b-image
      img(src="../images/img1.jpg", alt="pic")
    .top-layer
      h2 #[span Онлайн] + живое участие

  .row
    .small-12.columns
      .tabs-wrapper
        .tab-links
            a(href='#tab1').waves-effect.waves-light.active Ступень 1
            a(href='#tab2').waves-effect.waves-light Ступень 2
            a(href='#tab3').waves-effect.waves-light Ступень 3
        .tab-content
            .tab-item#tab1
              .section-title
                h2: span Ступень 1. Быстрые результаты.
                .info-row
                  .info-item
                    include ../../images/svg-icons/ic-calendar.svg
                    p с 1 по 9 марта 2017
                  .info-item
                    include ../../images/svg-icons/ic-clock.svg
                    p 8 дней  по 1 час/день
                  .info-item
                    include ../../images/svg-icons/ic-planet.svg
                    p Москва+онлайн
              .row
                .small-12.large-7.columns
                  .text-row
                    h5 Задача:
                    p Заложить фундамент для масштабных изменений в жизни и запустить маховик перемен к лучшему.
                  .text-row
                    h5 Содержание:
                    ul.list
                      li.
                        Причины тормозов и повторяющихся событий, почему ты стоишь на месте;
                      li.
                        3 аксиомы непрерывного роста (90% всех проблем в жизни людей; то, без чего добиться успеха невозможно в любом деле);
                      li Первые шаги в поиске себя.
                  .text-row
                    h5 Формат:
                    p Вживую в зале + онлайн кабинет, сквозные практики, полевые задания, групповые процессы, отчеты, работа с куратором.
                    p.
                      — 2 среды — по 3 часа (теория). Участники из Москвы — в общем зале, участники из регионов #[br/]
                      — прямая трансляция + живой чат. #[br/]
                      — 7 дней практик «в полях» между средами. Участники по командам. Задания выдаются каждое утро в онлайн-кабинете.
                  .text-row
                    h5 На выходе:
                    ul.list
                      li.
                        Встроенные через непрерывную практику 3 фундаментальные аксиомы непрерывного роста;
                      li Большой заряд энергии для движения вперед.
                .small-12.large-5.columns
                  .mind-map-wrapper
                    a(href='javascript:void(0)' data-open="mindmap"): img(src='../images/mindmap.jpg' alt='mindmap')
                    a(href='javascript:void(0)' data-open="mindmap").popup-link.button.transparent.gray.semibold.mindmap-link Увеличить mindmap
                  #mindmap.reveal(data-reveal)
                    button.close-button.icon-cancel(data-close type="button")
                    .reveal-wrapper
                      img(src='../images/mindmap-big.jpg' alt='mindmap')
              .row.align-center.days-row
                .small-12.medium-6.large-4.columns.day-item-wrapper
                  article.day-item
                    .day-title
                      h4 День 1
                      span Среда (19.00–22.00)
                    .day-content
                      p Знакомство, настройка на работу, вводная теория, разделение на команды, групповые процессы.
                .small-12.medium-6.large-4.columns.day-item-wrapper
                  article.day-item
                    .day-title
                      h4 День 2-8
                      span Четверг-Среда (30 мин/день) 
                    .day-content
                      p Каждый день 3 сквозные + 1 практика «в полях», отчеты в личном кабинете, поддержка в общем чате. 100% практика без теории.
                .small-12.medium-6.large-4.columns.day-item-wrapper
                  article.day-item
                    .day-title
                      h4 День 8
                      span Среда (19.00–22.00)
                    .day-content
                      p Финал практик, подведение результатов (вычленение нового опыта), план действий на будущее, настройка на следующую ступень обучения.

            .tab-item#tab2
              .section-title
                h2: span Ступень 2. Интенсив.
                .info-row
                  .info-item
                    include ../../images/svg-icons/ic-calendar.svg
                    p онлайн 21-23 апреля
                  .info-item
                    include ../../images/svg-icons/ic-clock.svg
                    p онлайн: 2 недели по 2 часа/день #[br/] вживую: 2,5 дней по 12 часов/день
                  .info-item
                    include ../../images/svg-icons/ic-planet.svg
                    p online (любой город)
              .row
                .small-12.large-7.columns
                  .text-row
                    h5 Задача:
                    p Найти Ваши смыслы, определить дальнейшее направления и составить стратегию самореализации.
                  .text-row
                    h5 Содержание:
                    ul.list
                      li.
                        Зачем? Миссию – первоисточник, который поможет понять, зачем ты родился и для чего живешь. Это источник силы, энергии и вдохновения, в котором берут начало все твои мысли, желания, действия.
                      li.
                        Что хочу? Сконструируете Видение – найдете маршрут вашего дальнейшего развития. Создадите образ себя, любимого дела и своего будущего.
                      li В роли кого? Разберетесь со своими ролями, а также сильными/слабыми сторонами – поймете, в чем ваша сила и какие роли в жизни – отца, руководителя, сына, брата, партнера и др. – вам больше всего подходят.
                      li Как? Создадите план действий на 24 часа, который поможет реализовать все 3 вышеизложенные пункта.
                  .text-row
                    h5 Формат:
                    p вживую в зале + онлайн кабинет. После оплаты Вы получаете доступ в личный кабинет ко всем урокам и заданиям (видео-лекции, аудио-медитации, раздаточные материалы) + сопровождение коуча. Доступ в личный кабинет остается у вас всегда и доступен в любое время. Также Вы имеете возможность в течение 1 года пройти Интенсив вживую в Москве или другом регионе, где будет проходить Интенсив. (В этом есть свои бонусы: отличная от он-лайн групповая динамика, личное знакомство с командой Предназначение и Павлом Кочкиным.)
                  .text-row
                    h5 На выходе:
                    ul.list
                      li.
                        Разработанная и зафиксированная стратегия жизни (будет отражена в личном профайле «Предназначение [имя]»;
                      li Личная система координат и приоритетов;
                      li У Вас будут на руках хорошо проработанные 1-3 гипотезы (маршрута) дальнейшего движения;
                      li План действий на каждый день по проверке гипотез и их реализации.
                .small-12.large-5.columns
                  .mind-map-wrapper
                    a(href='javascript:void(0)' data-open="mindmap2"): img(src='../images/mindmap2.png' alt='mindmap')
                    a(href='javascript:void(0)' data-open="mindmap2").popup-link.button.transparent.gray.semibold.mindmap-link Увеличить mindmap
                  #mindmap2.reveal(data-reveal)
                    button.close-button.icon-cancel(data-close type="button")
                    .reveal-wrapper
                      img(src='../images/mindmap2.png' alt='mindmap')
              
            .tab-item#tab3
              .section-title
                h2: span Ступень 3. Привычка воплощать мечту
                .info-row
                  .info-item
                    include ../../images/svg-icons/ic-calendar.svg
                    p Уточняется
                  .info-item
                    include ../../images/svg-icons/ic-clock.svg
                    p 21 день по 20 мин/день
                  .info-item
                    include ../../images/svg-icons/ic-planet.svg
                    p Онлайн
              .row
                .small-12.large-7.columns
                  .text-row
                    h5 Задача:
                    p Внедрить в себя привычки, которые позволят реализовать дело жизни. «Пробить» страх перед воплощением своей БОЛЬШОЙ ЗАДАЧИ НА ЖИЗНЬ. Усвоить навык достижения сколь-угодно больших и масштабных целей.
                  .text-row
                    h5 Содержание:
                    ul.list
                      li.
                        Индивидуальный набор привычек для внедрения под Ваше предназначение (не более 5 шт);
                      li.
                        21 день непрерывной практики по внедрению привычек;
                      li Getting Things Done или «слоноедение» — техника достижения больших целей.
                  .text-row
                    h5 Формат:
                    p Онлайн кабинет+ еженедельные групповые онлайн конференции, отчеты, работа с куратором.
                  .text-row
                    h5 На выходе:
                    ul.list
                      li.
                        Встроенные до 5ти новых привычек в Вашу личность;
                      li Навык небольшими ежедневными непрерывными действиями добиваться своего в любом деле;
                      li «Поставленное на рельсы» движение по реализации Вашего предназначения.
                .small-12.large-5.columns
                  .mind-map-wrapper
                    a(href='javascript:void(0)' data-open="mindmap3"): img(src='../images/mindmap3.png' alt='mindmap')
                    a(href='javascript:void(0)' data-open="mindmap3").popup-link.button.transparent.gray.semibold.mindmap-link Увеличить mindmap
                  #mindmap3.reveal(data-reveal)
                    button.close-button.icon-cancel(data-close type="button")
                    .reveal-wrapper
                      img(src='../images/mindmap3.png' alt='mindmap')
              .row.align-center.days-row
                .small-12.medium-6.large-4.columns.day-item-wrapper
                  article.day-item
                    .day-title
                      h4 Подготовка.
                    .day-content
                      p Практика «Смены состояния»; индивидуальный подбор привычек для внедрения; выбор критериев выполнения и инструментов замеров; получить зачет у коуча перед стартом.

                .small-12.medium-6.large-4.columns.day-item-wrapper
                  article.day-item
                    .day-title
                      h4 Работа. 21 день без пропусков.
                    .day-content
                      p.
                        Ежедневные практики, которые Вы выбрали сами для внедрения привычек; еженедельная сессия с коучем; проверка личного состояния.
                        #[br/] Каждый день 3 сквозные + 1 практика «в полях», отчеты в личном кабинете, поддержка в общем чате. 100% практика без теории.
                .small-12.medium-6.large-4.columns.day-item-wrapper
                  article.day-item
                    .day-title
                      h4 Финал.
                    .day-content
                      p Правильный выход из практики; перепросмотр 3х недель; подведение результатов.

    .small-12.columns.text-center
      a(href="#contact-form").has-anchor.button.bold Оставить заявку на обучение