section.scrollspy#whatis.second-section
	.full-height.has-background(style='background-image: url(../images/bg-second.jpg)')
		.row
			.small-12.large-8.columns
				article.offset-section
					.section-title
						h2 Что такое #[span предназначение?]
					.section-content
						p.
							Этимология этого слова делится на две составляющие: «пред» и «назначение». Вместе слова означают следующее: в прошлом (до этого момента нашего существования) для нас был очерчен круг решаемых задач на эту жизнь (на заданный период настоящего и ближайшего будущего). В прошлом нам были выданы цели, достижение которых будет приносить максимально возможный результат. Исходя из этого, предназначение - то дело, реализуя которое, мы чувствуем себя счастливыми. Мы ощущаем, что жизнь наполнена смыслом, что мы несем миру какую-то ценность.

				a(href="#contact-form").has-anchor.button.semibold найти свое предназначение

	.top-fade-section
		.row
			.small-12.columns
				.section-title.dark
					h2 Что говорят те кто уже #[span нашел свое предназначение?]

				.slider-wrapper.top-slider
					button.slick-prev.prev-btn: include ../../images/svg-icons/ic-left.svg
					button.slick-next.next-btn: include ../../images/svg-icons/ic-right.svg
					.slider.lazy.double-slider
						.slide-item
							.slide-image
								img(src='#' alt='pic' data-lazy="../images/sliders/1.jpg")
							.slide-content
								.slide-title
									h3 Эрик Вейенмайер
									//span.
									//	Знаменитый историк моды, популярный телеведущий,
									//	декоратор и востребованный театральный художник
								.slide-description
									p.
										Эрик Вейенмайер – удивительно активный человек. В свои 45 лет он профессионально занимается альпинизмом, парашютным спортом, велосипедными гонками и лыжным спортом. Однако Эрик обладает не только неутомимой энергией, но страшным изъяном: он абсолютно слеп. Что, впрочем, не помешало ему стать чемпионом штата по рестлингу, проехать на велосипеде через весь Въетнам и покорить семь высочайших вершин семи континентов!
									.hidden-description
										p.
											«Я не такой уж и великолепный спортсмен. Просто у меня много энергии, сосредоточенности и друзей. В моей личности нет ничего выдающегося. На самом деле, быть слепым скалолазом – это как быть бобслейщиком из Ямайки: это просто нетипично, вот и все.
										p.
											Я не хожу в горы ради того, чтобы доказать кому-то что слепой человек может сделать это. Я совершаю восхождения и увлекаюсь альпинизмом по той же простой причине, что художник рисует картины: это приносит мне наслаждение и доставляет огромное удовольствие.
										p.
											Я был бы неискренен, если бы не сказал о своем глубоком чувстве удовлетворения победы над теми людьми-циниками, которые мыслят стереотипами и узкими категориями.
										p.
											Я развеял все их сомнения в отношении того, что можно, а что нельзя, разбив при этом их глупые доводы вдребезги, на миллион кусочков.
										p.
											Если все эти стереотипы будут вновь восстановлены, то тысячи и тысячи людей будут жить с преградами, которые регулярно выстраивают перед ними. Если мои восхождения смогут сыграть хоть малую роль в приоткрытие таких возможностей и дать надежду людям, которые придут после нас, то Я буду очень гордиться, что все МЫ вместе смогли чего-то добиться»
										p.
											© Эрик Вейенмайер
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]

						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/2.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Фрау Ингиборa Моц
									span.
										Игебора Моц - бабушка, которое делает состояния на фондовом рынке.
								.slide-description
									p.
										Старушка Фрау Ингебор Моц заработала 1 млн. долларов, покупая и продавая валюту на бирже Forex. "Благодаря этому финансовому инструменту, из безработной женщины я стала одним из самых успешных людей в Германии", - говорит она. - "Рынок Forex дал мне возможность хорошо зарабатывать – сейчас я зарабатываю на форексе порядка 5-10 тысяч долларов в день, и думаю что это далеко не предел. И я не остановлюсь на достигнутом".
									.hidden-description
										p.
											Оказывается, что освоить новую профессию, сделать карьеру и стать успешным человеком - вполне реально в любом возрасте, и пример Фрау Моц тому живое подтверждение! Даже если вы разменяли девятый десяток, отправляться на покой еще рано - все только начинается. Сейчас старушка по праву носит звание самого успешного частного инвестора Германии. А молодым брокерам остается только завидовать ее профессионализму и продолжать трудится.

										p.
											До 48 лет Фрау Моц была простой домохозяйкой и воспитывала детей. На бирже Forex начала торговать 10 лет назад. Инициатором ее нынешнего занятия стал муж-бухгалтер, который на склоне лет как-то в ссоре упрекнул ее: "Ты всю жизнь была слишком глупа, чтобы зарабатывать деньги". Ингебор эти слова задели до глубины души, и она решила доказать мужу, что эти слова очень несправедливы. Увы, не успела - вскоре муж умер, оставив ей в наследство ценные бумаги. И за десять лет из акций, стоивших копейки, она сформировала инвестиционный портфель, общей стоимостью приближающийся к сумме в один миллион евро.
										p.
											Теперь старушка покупает новые акции, торгует валютой на форексе, да впридачу ко всему получаете еще и пенсию.Пенсионный возраст – это не повод подводить итоги, - говорит она.
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]

						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/3.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Сильвия Уэйнсток
									span.
										82-летняя мастерица занимается кондитерским искусством уже 30 лет. Один её торт может стоить до 65.000$.
								.slide-description
									p.
										В 52 года Сильвия Уэйнсток решила оставить работу воспитательницы в детском саду и заняться по-настоящему любимым делом - печь торты. Сегодня она один из самых успешных кондитеров в мире
									p.
										«Дома, по выходным, мне всегда нравилось печь и готовить, - говорит Сильвия, - После 50 я решила делать торты на продажу. И через какое-то время заметила, что это приносит больше денег, чем работа воспитательницы».
										Сильвия решила, что это хороший знак, уволилась с работы и полностью посвятила себя кондитерскому делу. Она взяла несколько уроков у местных кондитеров, а главное - постоянно совершенствовалась.

									.hidden-description
										p.
											С тех пор прошло 30 лет. Поначалу торты заказывали знакомые Сильвии, затем местные кондитерские и рестораны, потом - крупные компании.

										p.
											В какой-то момент у Уэйнсток стало столько работы, что ее муж был вынужден бросить юридическую карьеру и начал помогать ей с упаковкой тортов. «В сутках 24 часа. Мы работали 26», - вспоминает Сильвия. Работа выручила, когда у нее обнаружили рак груди. «У меня просто не было времени болеть или уставать», - говорит она.
											Сейчас совершенно здоровая Сильвия Уэйнсток – главный поставщик тортов для мировых знаменитостей. Ее свадебные торты заказывали Мэрайя Кэри, Майкл Дуглас и Дональд Трамп. А Королевская семья Саудовской Аравии, семьи Клинтон и Кеннеди позволяют себе заказывать ее сладости даже без повода, хотя цена торта может составлять десятки тысяч долларов. «У меня в штате 17 человек, но я все равно работаю круглосуточно и без выходных», - говорит Сильвия, которой сейчас 82 года.
										p.
											Особенность сладостей, созданных Сильвией – необычные формы, ей приходилось делать торты в виде куртки, фотопленки или бутылки шампанского. Счастливчики, которые пробовали ее изделия, уверяют, что они еще и потрясающе вкусны. На один такой торт у фирмы Уэйнсток иногда уходит до недели. «В моей работе все решается здесь и сейчас, важен каждый момент, - говорит Сильвия, - я не могу сказать «Я лучше сделаю это завтра». Торт должен быть идеален прямо сейчас». Став идеальным, каждый торт украшается фирменным логотипом Сильвии Уэйнсток - ее неизменными круглыми очками в черной оправе.
										p.
											Сейчас Сильвия планирует открывать первый магазин за пределами родного Нью-Йорка – в Японии. А затем – в Китае и на Среднем Востоке. А еще у нее написаны уже две книги – «Сладкие празднования» и «Сенсационные торты».
										p.
											Ещё посмотреть работы Сильвии можно по ссылке: http://bigpicture.ru/?p=265632
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]
						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/4.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Сильвестр Сталлоне
								.slide-description
									p.
										"Я должен был остаться никем. Жизнь нанесла мне рану еще при рождении, пол лица мне парализовало еще при рождении. Учителя считали меня умственно отсталым, а мать поставила крест еще в детстве. На протяжении семи лет, семи долгих голодных лет, агенты и продюсеры хором твердили мне, что я должен бросить сначала актерскую, а затем сценарную стезю. Меня разворачивали на кастингах, еще до того как я снимал куртку, а продюсеры браковали мои сценарии не прочитав ни строчки. Я глотал слезы, на работе. Чистил клетки львов в зоопарке, рубил мясо. 7 долгих тяжелых лет. 7 лет слез, пота и веры в себя. Вы тоже ничего не добьетесь пока не переживете период отчаяния. А потом? А потом я целый год жил на 1600 долларов. И написал "Рокки". Верьте в себя и любите свою маму. Сильнее ее вас никто никогда не полюбит."
									p.
										Сильвестр Сталлоне
						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/5.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Роберт Родригес
									span.
										ИСТОРИЯ РОБЕРТА РОДРИГЕСА
								.slide-description
									p.
										"Мои самые ранние воспоминания связаны с кинотеатром. Я был третьим ребенком из десяти. Каждую неделю мама возила нас в кинотеатр «Олмос» городка Сан-Антонио, где мы смотрели по два-три полнометражных классических фильма.
									p.
										Мама всегда с осторожностью и подозрением относилась ко множеству фильмов, заполонивших кинотеатры, и доверяла нашим юным глазам и умам только ленты, похожие на кинокартины ее детства. Я до сих пор помню потрясающий эффект от сеанса «Ребекки» и «Завороженного».

									.hidden-description
										p.
											Помню, как на занятиях в пятом классе я сидел на последней парте со словарем и рисовал на полях каждой страницы маленьких человечков: при пролистывании получался настоящий комикс. Я не обращал никакого внимания на учителя: это было мое время, и такого шанса теперь нет и больше никогда не будет. Целый день я мог терпеливо и внимательно, в деталях создавать собственные фильмы — тщательно разрабатываемые комиксы с непобедимыми персонажами в главной роли, которые прыгали по страницам, сражались со злом и разносили все, что попадалось им на глаза.
										p.
											Я был не очень силен в математике, науках, истории… Во всем, на самом деле. Но старшим ребятам нравились мои комиксы. Помню, как я радовался, когда кто-то просматривал эти бумажные мультики и смеялся. Это было так увлекательно, и я продолжал рисовать.
										p.
											В восьмом классе, после просмотра картины Джона Карпентера «Побег из Нью-Йорка», мы с друзьями поняли, что хотим создавать собственные настоящие фильмы. Пусть даже мультипликационные. Но у нас не было оборудования. В книгах Рэя Хэрихаузена говорилось, что для создания рисованных и пластилиновых мультипликаций нужна по крайней мере 16-миллиметровая камера с возможностью покадровой съемки. Пластилиновая мультипликация — это лучший жанр, в котором здорово творить, когда молод: можно снимать часами, и при этом пластилиновые актеры не будут жаловаться, просить еды, и им не нужны дублеры.
										p.
											В 1979 году отец, зарабатывающий продажей кухонной посуды, тонкого фарфора, хрусталя и т. п., купил на рынке электрооборудования очередную техническую новинку (он покупал все, что могло, как ему казалось, улучшить продажи). Это был кассетный видеомагнитофон JVC с четырьмя головками, который он надеялся использовать в создании презентаций для продаж. Тогда это было достаточно дорогое устройство, поэтому вместе с покупкой отцу дали подарок — старую камеру Quasar, подключавшуюся к видеомагнитофону кабелем длиной чуть больше 3,5 м. Она была полностью на ручном управлении и без видоискателя. Чтобы понять, куда она направлена, приходилось смотреть в телевизор. Отец отдал мне инструкцию, чтобы я разобрался с ней.
										p.
											Но не успел он оглянуться, как я уже снимал пластилиновые мультики и коротенькие комедии с участием братьев и сестер. Для подающего надежды кинорежиссера, растущего в семье из двенадцати человек, самой хорошей новостью было именно наличие бесплатных актеров и съемочной группы. Из-за искажений, возникавших каждый раз при нажатии паузы, мультипликационные ленты выглядели не очень презентабельно, но фильмы с участием живых актеров получались великолепно."
										p.
											— Из книги Роберта Родригеса "Кино без бюджета"
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]
						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/6.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Райан Росс
									span.
										Бывают и такие таланты :)
								.slide-description
									p.
										Считается, что Билл Гейтс (Bill Gates) заработал свой первый миллион уже к 20 годам, Стив Джобс (Steve Jobs) – к 23. Трудно сказать, удастся ли канадскому мальчику Райану Россу (Ryan Ross) стать во главе корпорации международного уровня, однако первым миллионом он обзавелся уже в 8 лет. Принесли Россу золотые горы отнюдь не нефтяные скважины, полученные по наследству гостиничные сети или операции на фондовой бирже; мальчик разбогател благодаря обычным курицам-несушкам. На самом деле, с куриц мальчик только начинал, но... впрочем, не будем забегать вперед.

									.hidden-description
										p Куриную ферму на заднем дворе своего дома Росс создал уже в три года. В день 60 куриц приносили ему 15$ - в яичном, разумеется, эквиваленте. Сколотив стартовый капитал, Райан переключился на более популярное среди зарубежной молодежи занятие – стрижку газонов; увы, ввиду чрезвычайно юного возраста справиться газонокосилкой Росс на тот момент не мог. Из положения мальчик вышел с коварством, достойным куда более опытных бизнесменов; со своих клиентов Райан получал 20 долларов в час, 15 из которых уходили на найм газонокосильщика. Пять долларов Росс оставлял себе – ни прилагая к этому практически никаких усилий.
										p Со стрижки газонов Росс переключился на их поливку; действовал мальчик по отработанной уже схеме, однако на сей раз он оставлял себе 50% - составлявшие в поливочном бизнесе 100$. Через некоторое время у него накопилась более чем приличная сумма свободных средств; инвестировал её Райан в недвижимость.
										p На данный момент Россу принадлежит шесть зданий, хоккейная и баскетбольная площадка и 4000 (!) книг. Интересно, что при этом у Райана пока что нет мобильного телефона – мальчику не разрешают купить родители.
										p Планов у юного миллионера полно; на данный момент он собирается купить себе парочку хоккейных команд. Особых познаний в секретах спортивного бизнеса у Росса пока нет; мальчик, однако, уже продемонстрировал невероятную деловую хватку и умение быстро учиться – так что и хоккейным командам он найдет достойное применение.
										p Интересно, что одноклассники Райана его рассказам о достижениях на деловом поприще просто-напросто не верят; впрочем, винить их трудно – дети в таком возрасте любят рассказывать небылицы, а воспринимать всерьез байки о 8-летнем миллионере довольно трудно. Росс уже научился относиться к чужому недоверию и пренебрежению с улыбкой; его достижения говорят сами за себя лучше всякой внешности, дорогих нарядов и автомобилей.

									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]
						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/7.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Путь мирного воина

								.slide-description
									p.
										О том, как выглядит Предназначение в книге "Путь мирного воина" Дэна Миллмана: #[br]
										Во-первых, это мастерство. #[br]
										Во-вторых, это то, что ты готов делать с любовью и отдаванием. #[br]
										В третьих, это то, что ценно для других, что наполняет и делает их или их жизнь чуть лучше.


									.hidden-description
										p.
											- У каждого мужчины или женщины есть присущие только ему или ей качества. Например, ты добился кое-чего в гимнастике, а Джозеф в совершенстве готовит.  #[br]
											- Варит и жарит еду, ты хочешь сказать?  #[br]
											- Не совсем. Джозеф не нагревает продукты чрезмерно – это разрушает в них естественные компоненты, необходимые для полного усваивания пищи. Он готовит естественные блюда таким образом, с которым ты сам скоро познакомишься. Вкусив однажды кулинарного волшебства Джозефа, ты уже не сможешь притрагиваться к меню забегаловок быстрого питания.  #[br]
											- Что такого особенного в том, как он готовит?  #[br]
											- Только две вещи, обе практически незримые. Во-первых, он уделяет полнейшее внимание процессу готовки. Во-вторых, любовь – это буквально один из главных ингредиентов его блюд. Ее ты сможешь ощущать длительное время после еды.
										p.
											(с) "Путь мирного воина" Дэн Миллман

									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]
						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/8.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Про футболиста
								.slide-description
									p.
										Есть у меня знакомый. Ничем не примечательный и ничего особенного из себя не представляющий. Перебивается случайными заработками, прозябает и влачит, в общем.
										Когда ему было 11 лет, он случайно попал в городскую (небольшой город в провинции) футбольную секцию. И у него начало очень круто получаться. В общем в какой–то момент встал вопрос о том, что с его данными и с его успехами надо было двигаться дальше. Его уже готовы были взять в краевом центре в какую–то физкультурную школу. Мать сказала ему "Ты футболом будешь на жизнь зарабатывать??? Учись лучше!" и увела его из этой секции. Он остался в обычной школе, кое–как ее закончил. Дальше учиться никуда не пошел. #[br/]
										Теперь вот вспоминает иногда, как круто у него получалось в футбол играть.
									p.
										(с) daluxe
						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/9.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Петр Кузин
									span.
										Петр Кузин (76 лет), который написал новую главу своей жизни
								.slide-description
									p.
										"Петр Кузин из Омска нашел свое призвание, когда ему было 76 лет. Неожиданно для себя самого он стал писателем. Причем, что самое удивительное, не любителем, который пишет «в стол», а востребованным и на редкость плодовитым профессионалом.
									p.
										Большую часть жизни Петр Кузин ни о какой писательской карьере даже и не задумывался. И вообще все его образование ограничивалось сельскохозяйственным
										техникумом, а рабочая биография (от заведующего гаражом до инженера-технолога) навыка написания текстов не подразумевала.
									.hidden-description
										p Все изменилось, когда у Кузина умерла жена. Ему было в тот момент семьдесят шесть лет, он, конечно, очень тяжело переживал потерю. Дети волновались и пытались придумать, как вернуть отцу интерес к жизни. Внезапно у дочери Ларисы появилась идея. Она дала Петру Кузину задание (именно задание, в директивной форме) написать историю семьи. Отец долго отказывался, тем более что ему никогда не приходилось писать больших текстов. Но услышав довод, что работа понадобится еще внукам и правнукам, согласился.
										p Дети помогли Кузину освоить компьютер (чтобы легче было работать с крупными текстами). Лариса звонила отцу каждый день, чтобы проверить, как он справляется с заданием. Давала советы. Постепенно Петр Кузин втянулся. Тексты заполнили его жизнь.
										p Закончив семейную летопись, он немедленно начал работать над новой книгой. Задумал сборник рассказов и очерков о войне. Чтобы не быть голословным, пришлось сидеть в архивах и библиотеке, встречаться с ветеранами. По сути, Кузин сам взвалил на себя полноценную исследовательскую работу, которая захватила его целиком. Написал первую книгу и тут же сел за следующую. Закончил вторую — принялся писать еще одну. Первые произведения Петра Кузина его дети издали за свой счет небольшим тиражом. Просто чтобы дарить на память друзьям и знакомым. Несколько книг Кузин отнес в городские библиотеки.
										p.
											Затем рассказами Петра Кузина заинтересовались местные журналы. Несколько произведений напечатали, а его самого стали приглашать для выступлений в школах и на
											исторических мероприятиях. Причем не только в Омске, но и в других городах области. Кузин выступает с огромным удовольствием.
										p Так вышло, что Петр Кузин из писателя-любителя, издающегося за свой счет, превратился в профессионала. Омское общество «Сироты войны» заказало ему книгу к 70-летию Победы. Областное министерство культуры выделило деньги на публикацию. К этому заказу Петр Кузин подошел со всей ответственностью: стал ездить по области, встречаться с ветеранами и тружениками тыла, брать у них интервью и записывать их истории.
										p К творческой деятельности Петр Кузин относится как к полноценной работе, а потому проводит за письменным столом не меньше восьми часов в день. За исключением тех дней, когда он выступает перед читателями или берет интервью у героев. Кузин уверяет, что совершенно не устает. Он с сожалением говорит только об одном: срок сдачи новой книги в печать еще не подошел, а она уже практически готова."
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]
						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/10.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Мухаммад Юнус
								.slide-description
									p В середине 70-х годов прошлого столетия в Бангладеше царили нищета, безработица, и высокая смертность. Молодой специалист Мухаммад Юнус рассказывал студентам основы мировой экономики в местом университете. Каждый день он закрывал свой класс и шел домой через городские трущобы.
									p Однажды во время такой прогулки, он понял, что вся та информация, которой он щедро делится со своими учениками, является не более чем пустым звуком. Ведь она никак не может помочь его народу и его стране.
									.hidden-description
										p На следующий день Юнус вместе с одним из своих студентов отправился в деревню Джобра, где увидел на улице женщину, плетущую бамбуковые кресла для продажи. Когда Юнус спросил у женщины о ее ежедневном доходе, то узнал что тот составляет порядка нескольких центов в день. Юнуса поразила эта информация. Ведь кресла, которые делала эта женщина, были очень красивыми и стоили несколько долларов. Тогда он задал ей следующий вопрос: почему она зарабатывает так мало? И она рассказала Юнусу о том, что ей не хватает денег на то, чтобы закупать хороший бамбук, и приходится брать его в долг у владельца мебельного магазина, который потом скупает эти кресла по цене в несколько раз ниже их рыночной стоимости.
										p Тогда Юнус задал последний вопрос: сколько денег нужно этой женщине для того чтобы начать закупать хороший бамбук и получать за свою работу достойные деньги. Она ответила: 20 центов.
										p Юнус достал из кармана 20 центов, отдал их женщине, развернулся и пошел дальше вдоль деревенских домов. Он останавливался возле каждой хижины и задавал ее обитателям похожие вопросы.
										p После того, как Юнус и его ученик обошли все дома, они подсчитали сумму денег, необходимую для этой деревни, чтобы помочь людям выбраться из долгов. Сумма составила $27. Юнус выдал деньги старейшине деревенской общины с просьбой вернуть их по мере возможности.
										p После этого он понял, чем он хочет заниматься – помогать людям. 
										p Через два года он открыл свой банк микрокредитования Grameen. За 30 лет существования банка, они выдали микрокредитов на сумму $5,72 млрд. Благодаря их деятельности уровень бедности сократился с 50% до 40% от общего населения страны. За все это время Мухаммад Юнус помог порядка 70 млн жителей страны (общая численность на 2001 год – 131 млн). В 2006 году Юнус получил Нобелевскую премию мира в размере $1,4 млн, на которые основал компанию по производству дешевой еды для бедных.
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]
						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/11.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Майк Тайсон
								.slide-description
									p.
										Вспоминаем психогенетику! #[br/]
										Наши эмоциональные травмы, физические несовершенства и комплексы - это мощнейший мотиватор для профессионального роста! #[br/]
										Как вы думаете, откуда Майк Тайсон черпал агрессию, сделавшую его чемпионом-тяжеловесом? Читайте отрывок из интервью с корреспондентом The Guardian Дональдом Макрэйем.
									p "Когда-то он был напуганным маленьким мальчиком, постоянно избиваемым матерью в подлежащем сносу доме в Бруклине, а потом сам превратился в худшего человека на планете, каким он сам себя объявил.
									.hidden-description
										p Тайсон заработал, а потом потерял почти миллиард долларов, будучи последним великим бесспорным чемпионом-тяжеловесом, который со временем перешел от контролируемой ярости на ринге к безумию и насилию. Он имел множество проблем с женщинами, побывал в тюрьме, а потом запутался в сетях алкоголизма и наркомании.
										p Читая его книгу, которая за лукавый юмор и дикое красноречие, часто цепляет за душу, сложно избавиться от образов матери Тайсона Лорны и его наставника Каса Д'Амато, которые буквально поднимаются со страницы. Тайсон делится одним из своих мрачных воспоминаний из тех пор, когда ему было семь лет. "Я был толстым коротышкой, очень застенчивым, и шепелявил к тому же. Дети звали меня маленьким эльфом. Однажды мать дралась со своим парнем Эдди. Это было варварство и дикость. Эдди выбил ей золотой зуб, а мы с Дениз (сестра Тайсона) кричали. Но моя мама очень ловкая. Она схватила кастрюлю с кипящей водой".
										p Тайсон смотрит вверх, и я вижу весь ужас этой истории. "Она вылила кипящую воду на Эдди. Он орал, его спина и лицо покрылись волдырями. Мы положили его на пол. Сестра взяла зажигалку, стерилизовала иглу и один за одним проколола все волдыри".
										p Сорок лет спустя Тайсон помнит, что он и Дениз плакали. Он дал сожженному любовнику своей матери четвертак, чтобы утешить его. Эдди вскочил на ноги и поплелся в магазин на углу, чтобы купить алкоголь для матери. "Сами видите, он наградил ее за это. Поэтому у меня возникли такие проблемы с женщинами.
										p Тайсон описывает свою мать как грозную силу, исказившую его представление о прекрасной половине человечества. "Вот почему мне пришлось начинать новую жизнь – я привык смотреть на женщину, как на равную в физическом противостоянии. Как я пытался объяснить в книге – я рос не в окружении испуганных женщин. Они могли запросто убить тебя во сне, особенно если ты проявил к ним неуважение. Я помню свою мать – бум! бум! – нападавшей на этих мужчин. Это было жестоко".
										p "Я до сих пор не люблю смотреть в угол комнаты. Мне все еще кажется, что в углу мать изобьет меня. Сначала это воспринималось как "Елки-палки!" (Тайсон смеется), но чем старше ты становишься, тем забавнее. Но даже несмотря на то, что люди думают обо мне как о "Майке Тайсоне, этом страшном человеке", я до сих пор не победил этот страх. Вот что бывает, когда тебя травмируют в детстве".
										p В голосе Тайсона нет ни жалости к себе, ни сантиментов, когда он говорит: "Моя мать никогда не верила в меня. Даже когда у меня пошло в боксе, и люди писали обо мне, она думала, что я ненормальный. Я говорил: "Мам, прочти статью". Она отвечала: "Позже". У нее не было на меня никакой надежды, потому что я слишком часто ее расстраивал. Она, наверное, удивлялась: "Что эти белые люди находят в моем сыне?".
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]
						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/12.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Лу Вегнер
									span И снова о том, как травмы прошлого помогают творить большие дела!
								.slide-description
									p Этого парня зовут Лу Вегнер. Сейчас ему 16. За последние два года он спас от эвтаназии 20 тысяч собак и кошек. Лу снимается в фильмах, поёт; и два года тому назад ему по ходу съемок пришлось поработать волонтером в лосанджелесском приюте. "Мое сердце разрывалось от жалости, - говорит Лу. - Все эти собаки плакали в своих клетках. И я знал, что их скорее всего усыпят..." 
									p Лу стал свидетелем того, как один подросток повесил своего домашнего пса, а двое других забросали камнями беременную кошку,после этого Лу настоял на том, чтобы этих малолетних паразитов отвели на экскурсию в камеру, где усыпляют невостребованных животных.
									.hidden-description
										p Вскоре Лу основал организацию под названием Kids Against Animal Cruelty (KAAC) - "Дети против жестокости к животным". Сейчас эта организация насчитывает 12 тысяч членов и 50 тысяч помощников, имеет филиалы во многих штатах. "Мы воины, - говорит Лу. - Мы воюем за права животных". За прошедшие два года Лу и его друзьям удалось спасти от эвтаназии 20 тысяч собак и кошек. "Но столько же их усыпляют в Америке КАЖДЫЙ ДЕНЬ", - с горечью говорит Лу. Его организация активно борется с так называемой детской жестокостью.
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]
						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/13.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Криста Бортиньон
								.slide-description
									p Криста Бортиньон из Канады начала заниматься легкой атлетикой в 72 года. До этого главным ее хобби была работа в саду, но со временем у нее развился артрит, и управляться с тяпкой и секатором стало слишком больно.
									.hidden-description
										p.
											Как раз в это время Кристе попалась на глаза фотография Ольги Котелко, канадской легкоатлетки, которая успешно соревнуется в свои 90. #[br/]
											“Я не могу работать руками, но с ногами у меня все в порядке”, - решила Криста, нашла в телефонном справочнике телефон Ольги и позвонила ей. #[br/]
											“Давайте встретимся на стадионе через полчаса”, - предложила 90-летняя Ольга Котелко. #[br/]
											Криста Бортиньон начала тренироваться, причем во многих дисциплинах стразу: она прыгает в длину, в высоту и бегает на разные дистанции. Уже через несколько лет регулярных тренировок она завоевала свои первые чемпионские титулы. Сегодня 76-летняя Криста Бортиньон - многократная чемпионка мира, а в конце 2013 года ассоциация ветеранов спорта присудила ей звание “Спортсменка года”. #[br/]
											“Спорт полностью изменил мою жизнь, - говорит она. - Теперь у меня новые интересы, новые цели. Я стремлюсь достичь чего-то большего. Уверена, любой может достичь того же, чего достигла я. Даже если вы не считаете себя спортивным человеком, начните хотя бы с ходьбы. Все, что вам нужно, - пара кроссовок”.
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]
						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/14.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 История про барабаны
									span Как можно монетизировать своё хобби, если ты увлекаешься… барабанами? Эта история случилась со мной на самом деле!
								.slide-description
									p Когда-то у меня был дом во Флориде. Пожив там немного и закончив свои дела, я сел на самолёт до Нью-Йорка, чтобы сделать пересадку до Москвы. Лететь было недолго, но так уж получилось, что мы разговорились с соседкой по креслу. Стандартные вопросы: «Вы куда-то летите или возвращаетесь откуда? Чем занимаетесь?» Она сообщила, что в Нью-Йорке у неё также, как и у меня, пересадка - только до Мумбаи. А занимается она барабанами.
									.hidden-description
										p.
											- Ой, как интересно! – Говорю я, - а как это, барабанами занимаетесь?
											#[br/] - Да очень просто, - отвечает она. – Я и руками барабаню и палочками.
											#[br/] - Ничего себе, - удивляюсь я. – А кому вы барабаните и зачем?
											#[br/] - Ой, барабаны – это моя жизнь! Я их очень люблю! У меня, например, есть барабанная школа: там и групповые уроки и частные.
											#[br/] - А откуда у вас барабаны, - спрашиваю я.
											#[br/] - Я так люблю барабаны, что открыла свой маленький магазинчик. Там где-то около 200 разных барабанов: какие-то я продаю, а какие-то сдаю в аренду.
											#[br/] - Ничего себе, своя школа, да ещё и магазин барабанов!
											#[br/] - Да, небольшой. А ещё я иногда кооперируюсь с другими барабанщиками, и мы устраиваем ивенты. 
											#[br/] - В смысле?
											#[br/] - Ну, например, когда происходит День города, мы устраиваем мероприятия прямо на улицах. Несколько барабанщиков-фасилитаторов стоят на некотором расстоянии друг от друга по периметру и задают ритм, ударяя в большие громкие барабаны. Затем мы втягиваем прохожих в это безумство и раздаём им маленькие барабаны разных видов и звучания. Таким образом образуются несколько групп с разными ритмами, они начинают переливаться друг с другом – это звучит воистину фантастически! Получается целое шоу, я испытываю огромную эйфорию, создавая такой большой оркестр!
										p Вы не представляете, как в этот момент у неё горели глаза. Именно так выглядят глаза того человека, который действительно занимается делом, которое любит, от которого он горит!
										p.
											- А ещё я, конечно же, играю в группе, - решила добить меня она. Мы играем джаз, не так давно выпустили свой персональный CD, который есть в свободной продаже.
											#[br/] - Здорово! Наверное, и концерты даёте?
											#[br/] - Да, конечно! Нас постоянно приглашают в различные клубы, играем на концертах и различных мероприятиях.
											#[br/] - Ух ты! Может, что-то ещё делаете, связанное с барабанами? – Уже вошёл в азарт я.
											#[br/] - Ну, конечно! – ответила она, будто я спросил какую-то чушь. – Ещё у нас есть b2b, и мы проводим тимбилдинги. К нам обращаются различные компании, мы для их сотрудников устраиваем барабанные мероприятия. Они приходят в мой магазин, и каждый сотрудник выбирает тот барабан, который ему больше понравился. Тут очень здорово можно увидеть, кто лидер, кто какую позицию занимает в компании – своего рода психологический момент. Задаётся основной ритм, а дальше они сами учатся общаться друг с другом с помощью языка ритмов, сонастраиваются и создают совместный музыкальный шедевр!
											#[br/] - Вау! Может, ещё что-то?
											#[br/] - Да, конечно! Я настолько люблю барабаны, что для меня честь познакомиться с великими барабанщиками с мировым именем. Познакомиться с ними есть не так много возможностей, поэтому я занимаюсь продюссированием и привожу их в свой город – для меня это большое счастье! Я привозила Stomp и много других мировых звёзд.
										p И это ещё не всё, что она мне поведала… В какой-то момент она сообщила мне, что летит сейчас в Индию через Нью-Йорк на свадьбу. На собственную свадьбу. Как думаете, с кем? Да-да, она выходила замуж за индийского барабанщика!
										p Вот такая красивая история, друзья! Поэтому если вам кажется, что ваше хобби нельзя монетизировать, то вы просто ещё не знаете, КАК это можно сделать!
										p (с) Павел Кочкин
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]
						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/15.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Ивонн Доулен
									span Это Ивонн Доулен. Ей 86!
								.slide-description
									p Когда Ивонн было 80, она попала в автомобильную аварию, после которой доктора сказали, что придётся забыть о спорте. Особенно о фигурном катании.
									p Но Ивонн не захотела отказываться от любимого занятий и продолжила тренировки. В свои 86 она выходит на лед и даже участвует в соревнованиях:
									.hidden-description
										p.
											— "Когда у меня плохое настроение, я смотрю на своих ровесников с их кислородными подушками, надеваю коньки и улыбаюсь."
										p В свободное от соревнований время Ивонн Доулен работает детским тренером по фигурному катанию. Главное, чему она учит своих подопечных, — быть собой без оглядки на окружающих. «У того, кто идет, опираясь на других, никогда не будет легкой походки».
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]
						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/16.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Евгения Степанова
								.slide-description
									p Когда Евгении Степановой (Санкт-Петербург) исполнилось 60, она решила, что для счастья ей не хватает только одного — начать карьеру профессиональной спортсменки. В качестве вида спорта Евгения выбрала для себя прыжки в воду с вышки. И приступила к активным тренировкам в ожидании международных соревнований.
									p Новое увлечение возмутило ее мужа Бориса и сына Дмитрия. Особенно когда зашла речь о международных соревнованиях. Мужчины были против того, чтобы их жена и мама в своем возрасте появлялась на публике в купальнике. Кроме того, они опасались, что затраты на поездки подорвут семейный бюджет, и предупредили, что не дадут на эти цели ни копейки. Но Евгения продолжала тренировки.
									.hidden-description
										p.
											Единственным членом семьи, который поддержал Евгению Степанову, была ее 17-летняя внучка Катя. Она помогла вести переписку со спонсорами и найти деньги на первую поездку. А потом и на все последующие. После первого же сезона тренировок Евгения решилась поехать на чемпионат Европы в Австрию — и победила. С тех пор так и ездит по миру, собирая медали.
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]
						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/17.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Евгения Степанова
								.slide-description
									p.
										Когда Джону Тарнофф было 50, его компания разорилась из-за кризиса. А сам Джон одновременно с этим сломал ногу. 
										#[br/] Сегодня он утверждает, что только благодаря разорению и сломанной ноге, сумел найти свое призвание
									p Карьера Джона Тарноффа складывалась на редкость удачно. Он успешно работал продюсером на киностудиях Warner Brosers, Columbia Pictures, MGM. А потом основал собственную компанию, которая занималась разработкой интернет-игр. И все бы ничего, но во время кризиса начала двухтысячных все кончилось - акции компании Джона рухнули, и проект пришлось закрыть. 
									.hidden-description
										p.
											Джону Тарноффу было 50. Нужно было решать, как быть дальше.
											#[br/] Конечно, он мог бы вернуться на прежнюю работу - его, скорее всего, с радостью приняли бы обратно. Наверное, Джон так бы и поступил, но тут, как он уверяет, ему невероятно повезло. Он упал и сломал ногу. 
											#[br/] В результате вместо поисков новой работы Джон был вынужден сидеть дома без дела. Джон сидел. Сидел и размышлял о той ситуации, в которую он попал. И о том, что делать дальше. И чем больше он об этом думал, тем меньше ему хотелось возвращаться к прежней, хорошо знакомой работе. 
											#[br/] “Я не верю в поговорку “Старую собаку не обучишь новым трюкам. Обучишь, еще как! После пятидесяти вообще обязательно нужно учиться новому чтобы двигаться вперед” - говорит Джон сегодня.
											#[br/] А тогда, десять лет назад, отсиживаясь дома со сломанной ногой, он просто вдруг осознал, что ему всегда была интересна психология и общение с людьми. И в результате, едва перелом зажил, вместо того, чтобы заняться рассылкой резюме и поисками новой работы, Джон подал документы в университет Санта-Моники на отделение психологии.
											#[br/] “Если вы принимаете решения, руководствуясь своими истинными желаниями, жизнь всегда вас поддерживает!” - так считает Джон.
											#[br/] И его собственный опыт вполне это подтверждает. Каким бы странным ни казалось его решение в 50 лет снова пойти учиться, результаты, оказались самыми неожиданными. 
											#[br/] Не успел Джон закончить обучение, как его пригласили в компанию, о работе в которой он давно мечтал - DreamWorks. Причем не на продюссерскую должность. А на должность тренера для персонала - где его знания психолога и умение общаться были обязательным условием работы.
											#[br/] Если бы за год до этого Джону рассказали, что все так сложится, он не поверил бы своему счастью.
										p.
											Джон Тарнофф говорит, что, превратившись из продюсера в практикующего психолога, он буквально придумал себя заново. В DreamWorks он с огромным удовольствием проработал 7 лет. А к шестидесяти годам понял, что именно эта способность - придумывать себя заново и помогать это делать другим - и есть его настоящая призвание. 
											#[br/] Поэтому в шестьдесят Джон (с огромным сожалением) уволился из компании своей мечты и стал частным консультантом по карьере для людей категории 50+. Теперь он работает с людьми, которые хотят найти свое новое призвание после 50-ти, и его услуги невероятно востребованы. 
											#[br/] “Распространенная ошибка, которую совершают люди после пятидесяти, - они пытаются реализовать свои юношеские мечты, не подвергнув их предварительному анализу, - говорит Джон. - После пятидесяти важно посмотреть на себя со стороны, свежим взглядом. Скорее всего, вы намного переросли того человека, каким представляли себя в юности”.
											#[br/] Джон Тарнофф уверен, что все главные перемены происходят изнутри - важно взглянуть внутрь себя и выяснить, кем вы на самом деле хотите быть. 
										p “Я рекомендую использовать очень простую технику, которая отлично помогла лично мне. Возьмите за правило каждое утро по несколько минут записывать свои мысли. Абсолютно все, что придет вам в голову. Не важно, насколько бессмысленным будет ваш текст, просто пишите каждое утро. Через некоторое время (примерно через месяц) вы обнаружите, как с вами сами собой начнут происходить интересные вещи. Вы станете лучше понимать, чего же вы хотите на самом деле”.
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]
						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/18.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Дарья Донцова
								.slide-description
									p.
										Дарья Донцова пришла к своему Предназначению, когда ей было 45 лет в палате реанимации, где она лежала с онкологическим заболеванием. На 1 канале в передаче "Наедине со всеми" она рассказала интересный кейс про Танечку, которая лежала с ней в одной палате:
									.hidden-description
										p "Со мной в палате лежала женщина - Танечка. Эта Танечка сидела на каком-то заводе в заводоуправлении, была секретарём: ей это всё ужасно не нравилось, было неприятно. У неё была кошка, которую она обожала настолько, что муж её даже в больницу таком притаскивал. А то вдруг у кошки родились котята, Танечка стала читать какие-то книги... Через 3-4 года я её встретила всю роскошную в выставочном зале на кошачьей выставке - она была судьёй международной категории, судила кошек. Увидев меня, она бросилась и сказала: "Ой, как жизнь-то поворачивается - гляди! Я теперь судья! Я всё бросила, занимаюсь теперь любимыми кошками!" Она теперь летает по всему миру судит кошек, то есть бросила всё то, что было у неё раньше. Знаете, она проявила смелость! Это было трудно - бросить своё заводоуправление и зарплату, которая там была... Но теперь она занимается кошками и совершенно счастлива!" (с) Дарья Донцова
										p.
											А вообще, в этой передаче Дарья говорит немного и о своём Предназначении. Кому интересно, смотрите с 29ой минуты:
											http://www.1tv.ru/sprojects_edition/si5937/fi27309
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]
						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/19.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Гузель
									span ПЕРВЫЕ ШАГИ В МОНЕТИЗАЦИИ ПРЕДНАЗНАЧЕНИЯ
								.slide-description
									p В нынешнее время вопросы предназначения волнуют многих, люди хотят работать, получая удовольствие, признание и денежное вознаграждение. Занимаясь любимым делом, легче справляться и с чувством усталости, и с авралом, и с неуверенностью.
									p Мне всегда очень нравилась моя работа, отрасль и люди, с которыми я работала. Я могла путешествовать и общаться с очень разными людьми. Но ощущения, что это мое призвание, не было
									.hidden-description
										p Я искала и пробовала новые направления, и все они были связаны с творчеством: картины, коллажи, батик, декупаж, украшения, флористика. И в начале этого года обнаружила кое-что новое: изготовление кукол. Со временем это занятие стало приносить мне все больше радости. В какой-то момент я поняла, что хочу заявить о себе. К счастью, на моем пути повстречался Мастер, который осветил выбранный путь кукольного мастера своим фонарем, но когда он ушел и унес свой фонарь с собой, стало темно. Такое часто бывает, когда мы встречаем ярких реализовавшихся людей на семинарах, тренингах или даже совершенно случайно. Мне хотелось научиться добывать огонь самой. А мотивационные книги в этом верные помощники. Зажигать спички и продвигаться короткими перебежками через темноту сомнений и страхов к своему огню мне помогла книга Даниэллы Лапорт «Разожги огонь! Искренние советы для тех, кто ищет свой путь».
										p Когда вечерами я сидела и делала кукол или обдумывала, какие слова написать в группе Вконтакте или ЖЖ, листая страницы книги, я будто чувствовала поддержку автора книги. Она пишет очень живым эмоциональным языком, как будто разговаривает с тобой, мягко наставляя и делясь опытом в деле разжигания внутреннего огня. В книге она задает такие вопросы, ответы на которые помогают лучше узнать себя. Сделать внутренние раскопки и найти клад, который только и ждет, чтобы его поскорее отыскали. Из книги можно почерпнуть и то, как с этим кладом обращаться, а главное, пустить в дело!
										p Вот пара любимых цитат из книги:
										p Вам нужно научиться правильно преподносить суть своей души, а не создавать себе искусственный образ…Имидж — штука хрупкая. А искренность прочна, как скала.
										p Стремитесь к страсти, а не к балансу. Жизненный баланс — это миф. Страсть создаст в вашей жизни правильные пропорции, которые сложатся в гармоничное целое.
										p Я не знаю, поможет Вам эта книга или нет, но вместе с ней я сделала свои первые шаги: создала группу Вконтакте и свой блог. У меня было ощущение, что мы делали это вместе с Даниэллой, хотя и не знакомы с ней, конечно. Возможно, она еще подпишет мне свою книжку однажды: «Дорогой Гузель, с которой мы вместе вышли в мир, но я об этом и не знала».
										p Вот такие замечательные работы делает Гузель:
										p http://blog.mann-ivanov-ferber.ru/2014/08/07/guzel-astasheva-kak-kniga-mozhet-vdoxnovit-na-otkrytie-kukolnoj-masterskoj/
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]
						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/20.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Галя Моррелл
									span Любимое занятие может казаться странным... но главное, чтобы оно нравилось вам! ;)
								.slide-description
									p В свои 53 года Галя Моррелл танцует балет на дрейфующих льдинах. Она танцует босиком, в легком платье, в мороз, в Арктике. Иногда оступается и падает в ледяную воду. Но утверждает, что ничего страшного в этом нет.
									p Когда Гале Морелл было около пятидесяти, она вдруг осознала, что большую часть времени сидит в пустой квартире одна. Муж, военный летчик, все время проводил на заданиях, и они вот уже много лет встречались крайне редко, да и то преимущественно на аэродромах. Постоянной работы у Гали не было: последние пятнадцать лет она занималась воспитанием шестерых детей. Но теперь все шестеро — двое ее собственных и четверо детей мужа от первого брака — выросли, разъехались по университетам.
									.hidden-description
										p И Галя с удивлением обнаружила, что ей совершенно нечем себя занять. Так она поняла, что настало время делать не то, что надо, а то, что ей нравится.
										p Больше всего на свете Гале нравились Север и танцевать.
										p Танцы с детства были ее любимым занятием. А Север она полюбила, когда в молодости работала корреспондентом газеты «Правда» и по службе часто бывала в командировках за Полярным кругом.
										p Сейчас уже трудно сказать, каким образом Галя пришла в голову мысль совместить эти два своих увлечения. Достоверно известно однако, что ее первый «ледяной танец» случился благодаря другу, начавшему социальный проект: друг хотел познакомить подростков-эскимосов из самых отдаленных северных деревень с современным искусством. В рамках этого проекта Галя и отправилась в Гренландию. Ни сцены, ни декораций конечно не было — давать представление нужно было прямо на снегу...
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]
						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/21.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Бабушка Мозес
									span НИКОГДА НЕ ПОЗДНО НАЧАТЬ
								.slide-description
									p Эта женщина была слишком стара, чтобы работать на ферме, и поэтому вошла в историю искусства.
									p Одна из самых известных художниц Америки, Бабушка Мозес (Grandma Moses) не училась ни в обычной, ни в художественной школе. Свой жизненный путь эта удивительная женщина начала обычной крестьянкой. Она жила на маленькой ферме, с раннего детства очень много работала. Мозес была из бедной семьи, ей пришлось с одиннадцати лет батрачить на богатых соседей. Очень поздно вышла замуж, и муж её тоже был таким же разнорабочим, как и она. Вся жизнь Мозес прошла в тяжёлых крестьянских трудах. Просыпаться нужно было до зари, доить коров, потом ухаживать за урожаем, воспитывать детей, убирать дом, готовить еду. Всю жизнь она жила в маленьком провинциальном посёлке, где было очень мало людей. Когда наконец семья смогла купить свою ферму, делами занялся младший из сыновей, а бабушка Мозес осталась не у дел. К тому времени её организм износился, как старый ржавый автомобиль, она уже была не в состоянии трудиться, но без дела тоже было непривычно: "Я просто не могла сидеть в кресле-качалке".
									.hidden-description
										p Миссис Мозес занялась вышиванием и вязанием, но несколько лет спустя артрит превратил рукоделие в пытку. Когда ей исполнилось 76 лет, дочка посоветовала начать рисовать. Её первые картины висели в местной аптеке. Проезжавший мимо инженер, увлекающийся живописью, обратил внимание на эти милые, примитивные картинки. За бесценок купил несколько. Начал выставлять в своей галерее, показывать друзьям. Так, постепенно, шаг за шагом, Бабушка Мозес стала самой знаменитой художницей Америки. Её картины дарили Президентам Америки на дни рождения. Она умерла в 101 год, создав более 1600 картин и рисунков.
										p Перед самым уходом она сказала: «Я оглядываюсь на свою жизнь, как на завершённую дневную работу, и я довольна тем, как она выполнена».
										p.
											Работы Бабушки Мозес на сайте университета Помона: http://www.csupomona.edu/~plin/women2/moses.html
											#[br/] Больше покажет гугл :)
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]
						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/22.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Баба Галя
									span БАБА ГАЛЯ ИЗ САСОВО
								.slide-description
									p Посмотрите на фото. Это баба Галя. Живет баба Галя в городе Сасово на улице Советской, 156. Ей 61 год, какое–то время она подрабатывала гардеробщицей в местном бассейне, куда устроилась после выхода на пенсию. На первый взгляд ничем не примечательная пенсионерка. Да и на второй тоже, если не считать, что она чем–то похожа на самую влиятельную женщину планеты — Ангелу Меркель. Похожа не только внешне. Еще и тем, что видимо, как и она, нашла свое призвание. 
									p Призвание — такая штука, которую все без исключения хотели бы найти. Найти дело, занятие, которое станет по–настоящему любимым, в котором ты будешь лучше остальных, может быть даже самым лучшим, и потомки будут говорить про тебя "Он достиг в этом совершенства!". Многие ищут его всю жизнь и так и не находят. Не всем же быть юристами и программистами...
									.hidden-description
										p Однажды баба Галя, проживая свой очередной день в качестве гардеробщицы в сасовском бассейне и выдавая очередное пальто, услышала, что в родном городе открывается клуб метателей ножей. Что–то заставило ее сначала переспросить, а потом и пойти, попробовать. На тот момент ей было 57 лет.
										p Через полтора месяца она победила на местном турнире, обойдя 50 участников. И закрутилось...
										p Посмотрите еще раз на фото. Это Галина Чувина — абсолютная чемпионка мира по метанию ножей 2008, чемпионка Европы по метанию ножей и топоров 2013, трехкратная чемпионка России. 
										p Вот так, неожиданно, ваше призвание может найти вас само. Не переставайте искать! Даже в 57 лет. Даже в гардеробе бассейна города Сасово.
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]
						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/24.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Арабелла Картер-Джонсон
								.slide-description
									p Обнаружился талант почти случайно — с ребенком, который очень медленно учился говорить, занимался логопед, он и посоветовал родителям научить Айрис рисованию. Но учить даже не пришлось — девочка с первого раза уверенно держала кисти и смешивала краски.
									p «Мы надеялись, что занятия живописью ускорят речь Айрис и подвигнут ее на общение», — говорит мама девочки Арабелла Картер-Джонсон. «Но тогда мы поняли, что она на самом деле очень талантливая художница с невероятной способностью концентрироваться на процессе — Айрис может рисовать два часа подряд без остановок. Ее аутизм создал стиль живописи, который я никогда не встречала у детей ее возраста. Она чувствует цвета, композицию и то, как они взаимодействуют друг с другом».
									p http://earth-chronicles.ru/news/2014-09-26-71434
						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/25.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Анна Мельгизина
									span Жительница Белокурихи сменила деловой офис на кузницу
								.slide-description
									p.
										А кузнец куёт, аж душа поёт... 
										Еще несколько лет назад Анна Мельгизина и подумать не могла, что однажды так скажут и про нее. В кузницу впервые она зашла, чтобы забрать ухват, который заказывала для номера художественной самодеятельности - девушка поет в народном ансамбле.

									p Анна Мельгизина, кузнец (г. Белокуриха): "Забежала в кузницу: а можно я тоже? Начала эскизы рисовать, после работы в кузницу бежала, с дочкой порой, потому что не с кем было оставить. Чистый офис, перспективы могли быть. Но все перечеркнула. Родители до сих пор не могут отойти".
									.hidden-description
										p Именно Анна на общероссийском форуме кузнецов предложила провести в Белокурихе слет мастеров: познакомиться, поделиться опытом. Идею неожиданно поддержал главный кузнец России Леонид Архангельский. В Белокуриху привез учеников. Всего же в город-курорт приехали больше 30 тех, кто однажды сумел «заговорить железо».
										p Леонид Архангельский, президент Союза кузнецов России: "Человек может и не знать, что он кузнец. А тут он подошел к огню и понял, что он не менеджер, а кузнец".
										p Обычно на кузнечных фестивалях мастера изготавливают в дар городу композицию. Белокурихе кузнецы подарили скамью. Поставят ее, конечно же, у загса. Ведь если верить древнему поверью, кузнец может сковать свадьбу. Посидишь на такой скамейке и больше уже не разойдёшься.
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]
						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/26.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Андреа Петерсон
								.slide-description
									p В 66 лет Андреа Петерсон решила освоить профессию, о которой мечтала всю жизнь. Профессию пожарного. 
									p Записалась на курсы специальной подготовки и, хотя ни преподаватели, ни сокурсники не воспринимали ее всерьез, блестяще справилась со всеми испытаниями и стала самым настоящим пожарным! Как ей это удалось?
									.hidden-description
										p Андреа Петерсон мечтала стать пожарным с самого детства. У нее были на это веские причины. Когда Андреа была маленькой, их дом загорелся. Огонь отрезал доступ к входной двери, а прыгать из окна третьего этажа было страшно. Если бы не пожарные, которые вовремя пришли на помощь, все закончилось бы очень печально. 
										p На Андреа этот эпизод произвел огромное впечатление. Она мечтала, что, когда вырастет, тоже будет спасать людей из огня. Родители, понятное дело, возражали и настаивали, чтобы она рассмотрела «более женскую» профессию. Андреа Петерсон послушалась и последовательно перепробовала несколько вполне себе женских профессий: была профессиональной балериной, моделью, стюардессой и фармацевтом. Вышла замуж и значительную часть времени посвятила заботе о собственном муже: он был ранен во время войны во Вьетнаме, а затем у него диагностировали рак, и долгие годы Андреа исполняла роль бессменной и круглосуточной сиделки.
										p «Чтобы стать собой, мне пришлось ждать почти целую жизнь», — признается она.
										p Когда ее муж скончался, Андреа было уже за шестьдесят. Она чувствовала себя эмоционально опустошенной. Чтобы снова почувствовать себя кому-то нужной, Андреа Петерсон прошла курсы оказания первой помощи и устроилась работать медсестрой. Ее прикрепили к пожарному управлению. Там-то она и поняла: настало время осуществить заветную мечту. Сейчас или никогда. Набралась смелости и сообщила начальнику, что хочет стать пожарным.
										p «Начальник был вдвое моложе меня, — вспоминает Андреа. — По-моему, в тот момент он решил, что я свихнулась». Несмотря на недоумение руководства, Андреа Петерсон осуществила свое намерение и записалась на курсы пожарных. Когда она впервые вошла в класс, полный крепких 18–20-летних парней, ей было 66 лет. Парни, естественно, решили, что она преподаватель. И страшно удивились, когда невысокая и немолодая женщина села за парту рядом с ними и как ни в чем не бывало открыла тетрадь для конспекта. На уроках Андреа старательно учила теорию и не отлынивала от практики: ей пришлось серьезно нарастить мышечную массу, чтобы таскать на себе тяжелое оборудование. 
										p «Инструкторы меня не очень-то поддерживали, — вспоминает она. — Они были уверены, что я вот-вот сдамся и брошу занятия. Родственники тоже спрашивали, когда же я наконец повзрослею и начну “вести себя в соответствии со своим возрастом”. Но я так хотела осуществить свою мечту! Я знала, что не отступлю ни при каких обстоятельствах, что это мой шанс, который нельзя упускать».
										p Андреа Петерсон признает, что тренировка в пожарном департаменте стала самой тяжелой физической нагрузкой в ее жизни. «И это включая профессиональный балет», — уточняет она. Вместе с молодыми курсантами Андреа Петерсон честно посещала все тренировки и работала так усердно, что за время обучения набрала несколько килограммов мышечной массы — чуть ли не ежедневно она с готовностью таскала тяжести и выполняла силовые упражнения. Настоящий пожарный должен быть сильным и выносливым.
										p Хотя никто из знакомых Андреа не верил, что в 66 лет можно осуществить любую мечту, даже стать пожарным, на самом деле это так. Любую мечту можно осуществить даже в том случае, если в это не верит никто из ваших знакомых.
										p На выпускном экзамене она набрала 87 баллов из 100, что существенно превышало необходимый минимум. Андреа уверяет, что это был счастливейший день в ее жизни. В день получения сертификата пожарного Андреа Петерсон купила себе огромный букет цветов. «Так обязательно поступил бы мой муж, если бы был жив», — поясняет она. 
										p Теперь Андреа Петерсон выходит на работу в пожарное управление дважды в неделю. Коллеги отмечают, что она справляется со своей задачей превосходно.
										p — Из готовящейся книги Владимира Яковлева "Другое дело"
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]
						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/27.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Алла Петрова
									span Вот такая "неженская" профессия: интервью с автоинструктором Аллой Петровой
								.slide-description
									p "На самом деле, я раньше и представить не могла, что буду автоинструктором… Хотя кое-какие предпосылки к этому все-таки были. Ну, во-первых, я родилась в семье автогонщика и большую часть знаний по управлению автомобилем впитала чуть ли не с молоком матери. Отец с самого детства брал меня с собой на гонки. Во время длительных переездов я подолгу болталась на заднем сидении и от нечего делать изучала атлас автодорог, который меня очень привлекал. Тогда же возник и интерес ко всему происходящему на дороге, правилам дорожного движения, а затем – и к технике управления автомобилем, которую демонстрировал отец. Я наблюдала за ним, за штурманом, за приборами и впитывала все как губка, а в 18 лет уже спокойно заменяла отцу его штурмана. Однако на этом, пожалуй, моя автомобильная карьера надолго застопорилась: я решила, что надо учиться, работать серьезную работу и ездить с отцом перестала. 
									.hidden-description
										p После непродолжительной учебы, из престижного финансово-экономического института я все-таки сбежала и создала собственное производственное предприятие, занявшись решением самых разнообразных вопросов по закупке иностранного оборудования, наладке производственного процесса, управлению персоналом (в моем подчинении было более сотни людей). Однако 1998 год “убил” мой бизнес, после которого остались только непомерные долговые обязательства. После этого была работа в качестве продюсера, владелицы сети продуктовых магазинов, а потом… 
										p А потом мне на глаза попалось объявление о том, что в новый филиал одной известной автошколы производится набор автоинструкторов. Приветствовались спортивный стиль вождения, терпеливость, коммуникабельность, способность доходчиво подавать материал и, самое главное, что меня подкупило, отсутствие опыта работы. Я сразу же ринулась звонить директору и выпалила: “Уважаемый, скорее всего, Вы сейчас не будете со мной разговаривать на том простом основании, что я женщина, НО я умею…” – и рассказала ему о своих способностях и навыках. А он мне в ответ: “Давай, приходи, будем разговаривать”. 
										p На нашей встрече он предложил мне поработать у них администратором до тех пор пока не получу автоинструкторской лицензии и не подготовлю свой автомобиль. Спустя какое-то время я начала обучать людей вождению. Народ как хлынул! Совмещать работу администратора и автоинструктора оказалось уже невозможно. Кроме того, меня не очень устраивала философия автошколы, когда людей накатывают исключительно на второй передаче по тихим улочкам. И тогда я оттуда ушла и стала работать самостоятельно, что и продолжается вот уже три года".
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]
						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/28.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Александр Семенов
								.slide-description
									p Для начала представлюсь и расскажу немного о себе. Меня зовут Александр Семенов, по специальности я морской биолог и подводный фотограф, а также начальник водолазной службы Беломорской биологической станции МГУ. Последние несколько лет я занимаюсь организацией всех подводных работ на биостанции и постоянно погружаюсь сам. И самый большой кайф мне доставляет снимать подводный мир – огромную вселенную, населенную такими странными существами, что я, видевший уже немало, не перестаю каждый раз поражаться их разнообразию и красоте. Честно говоря, я бы вообще не вылезал из моря, изучая, снимая и показывая всем эту скрытую в глубинах жизнь, но жабры у меня до сих пор почему-то не выросли, поэтому приходится выныривать, менять баллоны, кушать и иногда спать. 7 лет я веду блог про подводный мир, организую фотовыставки в музеях разных стран, читаю научно-популярные лекции детям и взрослым и уже приличное время сотрудничаю с монстрами индустрии: Discovery, BBC, National Geographic и многими другими, которым нравится то, что я делаю. И особенно здорово, что это нравится не только им, но и мне самому! Но мне этого мало. Я хочу сделать больше, интереснее, лучше.
									.hidden-description
										p Наш мир удивителен. Мы печатаем костные импланты на 3d-принтерах, мастерим экзоскелеты, смотрим на мир через объективы спутников с околоземной орбиты и носим в карманах айфоны, которые могли бы заменить все мощнейшие суперкомпьютеры каких-то пару десятилетий назад. Список поистине поразительных вещей, которые окружают нас, просто огромен. Я на 100% уверен, что мир стал таким благодаря гениям, ученым, писателям и просто людям с неиссякаемым энтузиазмом, которые искренне любят то, что делают и, что главное, верят в то, что делают. Именно такие люди меняют мир, творят историю и двигают прогресс, а попутно вдохновляют целые поколения своими идеями, открытиями и путешествиями в неизведанное. В детстве многие мечтают отправиться к другим планетам, изобрести что-то совершенно новое, обогнуть земной шар или дойти до полюса на лыжах, вдохновленные «Поехали!» Гагарина, а после «Маленьким шагом для человека» Армстронга, или обогнавшими время молниями Теслы вперемешку с сумасшедшими изобретениями Да Винчи, фильмами Жака Ива Кусто и даже приключениями вымышленного капитана Немо, бороздящего глубины океана с гиперболоидом инженера Гарина наперевес. Кто из нас, прочитав хорошую книгу или посмотрев очередную серию «Подводной Одиссеи», не мечтал об этом?
										p Читать дальше: https://boomstarter.ru/projects/52303/ekspeditsiya_akvatilis_-_novaya_odisseya
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]
						.slide-item
							.slide-image
								img(src='#' data-lazy="../images/sliders/29.jpg" alt='pic')
							.slide-content
								.slide-title
									h3 Александр Васильев
									span КОГДА ПРЕДНАЗНАЧЕНИЕ - ЭТО ГЕНЕТИКА
								.slide-description
									p Александр Васильев — знаменитый историк моды, популярный телеведущий, декоратор и востребованный театральный художник.
									p The Excellence: Ваш отец — театральный художник, создатель декораций и костюмов, в том числе для Большого театра, мать — драматическая актриса. В какой степени повлияло на пробуждение интереса к моде и на Вашу карьеру то, что Вы были рождены в артистически одарённой семье?
									.hidden-description
										p Александр Васильев: Интерес к моде заложен во мне генетически, ведь все мои родственники — творческие люди, трепетно относящиеся к искусству. К тому же мои бабушки были настоящими модницами, а мама всегда оставалась очень красивой и элегантной женщиной. Родители меня брали в театр, где работали очень красивые артистки. И они модно одевались. В советскую эпоху мода была позволена не всем. Артисткам же можно было и брови выщипывать, и на каблуках ходить, и даже носить модные платья. Я вырос в этой атмосфере. Хорошим знакомым нашей семьи был Слава Зайцев. В гости часто приходили многие старейшие сотрудники Московского Дома моделей. К примеру, модельер 1930-х годов Анель Судакевич, Вера Аралова, которая была художником Московского Дома моделей с 1948 года. Мои родители ездили в командировки и тур-поездки за границу, что считалось огромной привилегией в советское время. Мне всегда привозили очень много одежды. Моя старшая сестра была одной из самых модных девушек Москвы. Я лет с десяти тоже стал модничать, а с четырнадцати лет увлёкся историей моды.
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]