section.scrollspy#whatis.second-section
	.full-height.has-background(style='background-image: url(../images/bg-second.jpg)')
		.row
			.small-12.large-8.columns
				article.offset-section
					.section-title
						h2 Что такое #[span предназначение?]
					.section-content
						p.
							Этимология этого слова делится на две составляющие: «пред» и «назначение». Вместе слова означают следующее: в прошлом (до этого момента нашего существования) для нас был очерчен круг решаемых задач на эту жизнь (на заданный период настоящего и ближайшего будущего). В прошлом нам были выданы цели, достижение которых будет приносить максимально возможный результат. Исходя из этого, предназначение - то дело, реализуя которое, мы чувствуем себя счастливыми. Мы ощущаем, что жизнь наполнена смыслом, что мы несем миру какую-то ценность.

				a(href="#contact-form").has-anchor.button.semibold найти свое предназначение

	.top-fade-section
		.row
			.small-12.columns
				.section-title.dark
					h2 Что говорят те кто уже #[span нашел свое предназначение?]

				.slider-wrapper.top-slider
					button.slick-prev.prev-btn: include ../../images/svg-icons/ic-left.svg
					button.slick-next.next-btn: include ../../images/svg-icons/ic-right.svg
					.slider.double-slider
						.slide-item
							.slide-image
								img(src='../images/sliders/sl1pic1.jpg' alt='pic')
							.slide-content
								.slide-title
									h3 Александр Васильев
									span.
										Знаменитый историк моды, популярный телеведущий, 
										декоратор и востребованный театральный художник
								.slide-description
									p.
										"Интерес к моде заложен во мне генетически, ведь все мои родственники — творческие люди, трепетно относящиеся к искусству."
									.hidden-description
										p.
											"Интерес к моде заложен во мне генетически, ведь все мои родственники — творческие люди, трепетно относящиеся к искусству."
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]

						.slide-item
							.slide-image
								img(src='../images/sliders/sl1pic2.jpg' alt='pic')
							.slide-content
								.slide-title
									h3 Эрик Вейенмайер
									span.
										Спортсмен, слепой
								.slide-description
									p.
										"Я не хожу в горы ради того, чтобы доказать кому-то что слепой человек может сделать это. Я совершаю восхождения и увлекаюсь альпинизмом по той же простой причине, что художник рисует картины: это приносит мне наслаждение и доставляет огромное удовольствие."
									.hidden-description
										p.
											"Я не хожу в горы ради того, чтобы доказать кому-то что слепой человек может сделать это. Я совершаю восхождения и увлекаюсь альпинизмом по той же простой причине, что художник рисует картины: это приносит мне наслаждение и доставляет огромное удовольствие."
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]

						.slide-item
							.slide-image
								img(src='../images/sliders/sl1pic1.jpg' alt='pic')
							.slide-content
								.slide-title
									h3 Александр Васильев
									span.
										Знаменитый историк моды, популярный телеведущий, 
										декоратор и востребованный театральный художник
								.slide-description
									p.
										"Интерес к моде заложен во мне генетически, ведь все мои родственники — творческие люди, трепетно относящиеся к искусству."
									.hidden-description
										p.
											"Интерес к моде заложен во мне генетически, ведь все мои родственники — творческие люди, трепетно относящиеся к искусству."
									a(href="#").show-more #[span.close Полная история] #[span.open Скрыть историю]