section.scrollspy#testimonials.section-sixth.dark-bg
    .skew-section.bottom.left-bottom.full-height
        .row
            .small-12.columns
                .section-title.text-center
                    h2 Отзывы наших выпускников
                    .description
                      p.
                        Впечатления о программе, которая изменила жизни 32 тысяч людей
                .slider-wrapper.testimonials-slider
                    button.slick-prev.prev-btn: include ../../images/svg-icons/ic-left.svg
                    button.slick-next.next-btn: include ../../images/svg-icons/ic-right.svg
                    .slider
                        .slide-item
                            .slide-image.has-background(style='background-image: url(../images/test-slider-img1.jpg)')
                            .slide-content
                                .slide-title
                                    h3 Михаил Дашкиев и партнеры
                                    span основатели «Бизнес-молодость», «Mokselle» и т.д.
                                .slide-description
                                    blockquote.
                                        “С этого тренинга, как команда, мы унесли свое предназначение — каждый из нас нашел свое”
                                    p Несмотря на изначальный скептический настрой, партнеры Михаила признали, что не ожидали такого эффекта — тренинг помог переосмыслить всю предыдущую жизнь и карьеру. Появились неожиданные открытия, открылись новые источники энергии и пришло понимание своей миссии.
                                    p Слева направо на видео: Павел Овсянников, Михаил Дашкиев, Дмитрий Крутов, Сергей Капустин, Виктор Ковалков
                                    a(href='javascript:void(0)' data-open="video-popup1").popup-video-btn.popup-link
                                        include ../../images/svg-icons/ic-play.svg
                                        span Смотреть видео отзыв
                                #video-popup1.reveal(data-reveal)
                                    button.close-button.icon-cancel(data-close type="button")
                                    .reveal-wrapper
                                        .video-wrapper
                                            <iframe data-src='https://www.youtube.com/embed/dKcqEuWv8g4?ecver=2' src="" width="640" height="360" frameborder="0" allowfullscreen></iframe>

                        .slide-item
                            .slide-image.has-background(style='background-image: url(../images/test-slider-img1.jpg)')
                            .slide-content
                                .slide-title
                                    h3 Михаил Дашкиев и партнеры
                                    span основатели «Бизнес-молодость», «Mokselle» и т.д.
                                .slide-description
                                    blockquote.
                                        “С этого тренинга, как команда, мы унесли свое предназначение — каждый из нас нашел свое”
                                    p Несмотря на изначальный скептический настрой, партнеры Михаила признали, что не ожидали такого эффекта — тренинг помог переосмыслить всю предыдущую жизнь и карьеру. Появились неожиданные открытия, открылись новые источники энергии и пришло понимание своей миссии.
                                    p Слева направо на видео: Павел Овсянников, Михаил Дашкиев, Дмитрий Крутов, Сергей Капустин, Виктор Ковалков
                                    a(href='javascript:void(0)' data-open="video-popup2").popup-video-btn.popup-link
                                        include ../../images/svg-icons/ic-play.svg
                                        span Смотреть видео отзыв
                                #video-popup2.reveal(data-reveal)
                                    button.close-button.icon-cancel(data-close type="button")
                                    .reveal-wrapper
                                        .video-wrapper
                                            <iframe data-src='https://www.youtube.com/embed/dKcqEuWv8g4?ecver=2' src="" width="640" height="360" frameborder="0" allowfullscreen></iframe>