section.scrollspy.full-height#structure
    .row
        .small-12.columns
            .tabs-wrapper
                .tab-links
                    a(href='#tab1').active Ступень 1
                    a(href='#tab2') Ступень 2
                    a(href='#tab3') Ступень 3
                .tab-content
                    .tab-item#tab1
                        p Ступень 1
                    .tab-item#tab2
                        p Ступень 2
                    .tab-item#tab3
                        p Ступень 3