section.scrollspy#actual.third-section
  .skew-section.bottom.left-top.dark-bg.full-height
    .row
      .small-12.columns
          .section-title
            h2 #[span Актуальность] поиска предназначения
          .section-content
            p.
              Тема предназначения волнует с каждым годом все больше людей. Внизу приведена статистика с ресурса Google
              Trends по поисковому запросу «Предназначение» (2004 - настоящее время). На сегодняшний день интерес к поиску
              своего предназначения достигает максимума
            .rating-wrapper
              img(src='../images/rating.jpg' alt='pic')
          .section-title
            h2 #[span типы людей] которые ищут свое предназначение
          .section-content
            p.
              Можно выделить 4 основных типа людей в зависимости от их жизненной ситуации и понимания своего
              предназначения. Мы условно назвали их в соответствии с наиболее похожей профессией. В иерархии
              типов «Вахтер» означает начало пути, а «Самурай» - конечную точку пути, которая, по сути,
              недостижима, и является неким маяком и помогает определить направление

  .row.skew-people
    .small-12.medium-6.xlarge-3.columns.people-item
      .people-item_image
        img(src='../images/people1.jpg' alt='pic')
      .people-item_title
        h4 "Вахтер"
      .people-item_description
        p Как перед вахтером, жизнь таких людей проходит мимо. Они не влияют, а, скорее, наблюдают за ней. У них невысокий уровень энергии. Они привыкли себя успокаивать, говоря, что честно выбиться в люди - невозможно. Всегда находят причины почему они не живут так, как хотели бы. 
      .people-item_characters
        h5 Характеристики:
        ul.list
          li Мешают обстоятельства
          li Нет возможностей
          li Страх

    .small-12.medium-6.xlarge-3.columns.people-item
      .people-item_image
        img(src='../images/people2.jpg' alt='pic')
      .people-item_title
        h4 "Таксист"
      .people-item_description
        p У этого типа людей наблюдается постоянная активность: дела, задачи, суета. У них уходит много энергии и сил, но удовлетворенности от сделанного нет. Они задаются такими вопросами: какой мой путь? Как идти по этому пути, чтобы реализоваться на 100%?
      .people-item_characters
        h5 Характеристики:
        ul.list
          li Энергия есть, нет фокуса
          li Кто я?
          li Чего я хочу?
          li Самообман

    .small-12.medium-6.xlarge-3.columns.people-item
      .people-item_image
        img(src='../images/people3.jpg' alt='pic')
      .people-item_title
        h4 "Сапер"
      .people-item_description
        p Этот человек точно знает в чем он хорош. Даже слишком хорош. В нескольких делах. И не может выбрать на чем остановиться или боится «перерезать не тот провод». Есть понимание что и как делать, но страшно. Вокруг никто не верит.
      .people-item_characters
        h5 Характеристики:
        ul.list
          li Как выбрать главный вектор?
          li Выбор между деньгами и удовольствием
          li Страх неудачи
          li Научиться не сливаться

    .small-12.medium-6.xlarge-3.columns.people-item
      .people-item_image
        img(src='../images/people4.jpg' alt='pic')
      .people-item_title
        h4 "Самурай"
      .people-item_description
        p Самурай — идеально сбалансированная личность. Он точно уверен в том, что делает, и безупречен в этом. Четко понимает свои сильные и слабые стороны, имеет цели, идеалы и безукоризненно следует им.
      .people-item_characters
        h5 Характеристики:
        ul.list
          li Кармический менеджмент
          li Безупречен в бою
          li Процессный подход
          li Удержание состояния
          li Эффективность в расслаблении
    .small-12.columns
      .section-content
        p.
          Признаться себе в том, что есть проблема — часто бывает сложно. #[br/]
          Если в одной из ситуаций вы узнали себя, то вы, наверняка, задаетесь вопросом "Что же мне теперь делать?" #[br/]
          У нас есть ответ