header.site-header
	.site-header_inner
		.site-logo
			span.big Предназначение
			span.small найди дело жизни
		nav.site-nav
			.nav-wrapper
				ul
					li: a(href="#whatis") Что такое «Предназначение»?
					li: a(href="#actual") Актуальность
					li: a(href="#destination") «Предназначение 2.0»
					li: a(href="#about") О программе
					li: a(href="#testimonials") Отзывы 
					li: a(href="#steps") Ступени
					li: a(href="#coach") Тренеры
					li: a(href="#rates") Тарифы
		.menu-button
				.sandwich
					.sw-topper
					.sw-bottom
					.sw-footer
