footer.site-footer
    .row
      .small-12.columns
        .footer-content
          p © Предназначение 2017г. Пользовательское соглашение 
          ul.contacts
            li: a(href='tel:88003330286')
              include ../../images/svg-icons/ic-phone.svg
              span 8(800)333-02-86
            li: a(href='mailto:support@predestination.ru')
              include ../../images/svg-icons/ic-mail.svg
              span support@predestination.ru