header.site-header
    nav.site-nav
        ul
            li: a(href="#introduction") Introduction
            li: a(href="#structure") Structure
            li: a(href="#initialization") Intialization
